{% macro icon(icon, classes) %}
{% spaceless %}
<span class="icon {{ classes|join(' ') }}" aria-hidden="true">
  <svg>
    <use xlink:href="#icon-{{ icon|default('calendar') }}"></use>
  </svg>
</span>
{% endspaceless %}
{% endmacro %}

{% macro badge(icon, classes, title) %}
{% spaceless %}
<div class="flag" title="{{ title }}">
  <svg class="icon flag-glow {{ classes|join(' ') }}" preserveAspectRatio="xMidYMid" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-flag"></use>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ icon|default('confirmed') }}"></use>
  </svg>
</div>
{% endspaceless %}
{% endmacro %}
