{% macro icon(icon, classes) %}
{% spaceless %}
<span class="icon {{ classes|join(' ') }}" aria-hidden="true">
  <svg>
    <use xlink:href="#icon-{{ icon|default('calendar') }}"></use>
  </svg>
</span>
{% endspaceless %}
{% endmacro %}

{% macro badge(flag, icon, classes, title, shield, data) %}
{% spaceless %}
{% set shield = shield ?? false %}
{% set data = data ?? false %}
{# The `classes` is used by Behat tests to identify flags #}
{% set classes = [
  'flag',
  'flag-' ~ flag,
  shield ? 'flag-shield' : 'flag-default',
  classes,
] %}
<div class="{{ classes|join(' ') }}" title="{{ title }}"{{ data ? ' data-status-badge-show=' ~ data }}>
  <svg class="icon " preserveAspectRatio="xMidYMid" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ shield ? 'shield' : 'flag' }}"></use>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ icon|default('confirmed') }}"></use>
  </svg>
</div>
{% endspaceless %}
{% endmacro %}

{% macro card_button(text, url, icon, direction, attrs, theme) %}
  <div class="col-sm-6 mb-3 mx-auto">
    <a href="{{ url }}" class="btn btn-outline-{{ theme|default('secondary') }} btn-icon btn-white shadow-to-{{ direction|default('right') }} btn-block" {{ attrs }}>
      {{ _self.icon(icon) }}
      {{ text }}
    </a>
  </div>
{% endmacro %}

{% macro list_buttons(buttons, btn_default_classes, params, btn_base_classes) %}
  <div class="row mb-5">
    <div class="col-sm-8 col-lg-6 mx-auto text-center">
      <ul class="list-unstyled mx-auto">
        {% for button in buttons %}
          {{ _self.list_button(button, btn_default_classes, params, btn_base_classes) }}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{#
  button: {label, path, list_classes, classes, icon}
#}
{% macro list_button(button, btn_default_classes, params, btn_base_classes) %}
  {% set attributes = create_attribute().addClass(button.list_classes) %}
  <li{{ attributes }}>
    <a
      class="{{ btn_base_classes ?? 'btn btn-block btn-icon mb-2 shadow-to-bottom' }} {{ button.classes ?? btn_default_classes }}"
      href="{{ path(button.path, params) }}">
      {{ _self.icon(button.icon ?? 'pencil') }}
      {{ button.label }}
    </a>
  </li>
{% endmacro %}

{% macro floating_buttons(buttons, default_theme, default_url) %}
  <div class="floating">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">
        {% for button in buttons %}
          {{ _self.floating_button(button.label, button.url ?? default_url, button.icon, button.active, button.theme ?? default_theme, button.classes) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro floating_button(label, url, icon, active, theme, classes) %}
  {% set btn_classes = [
    'd-flex',
    'btn btn-white shadow-floating mb-3 mx-2',
    'btn-xs-grow',
    icon ? 'btn-icon',
    'btn-outline-' ~ theme,
    active ? 'active',
  ] %}
  <a
    class="{{ btn_classes|merge(classes|default([]))|join(' ') }}"
    href="{{ url }}"
  >
    {{ icon ? _self.icon(icon) }}
    <span class="text-truncate">{{ label }}</span>
  </a>
{% endmacro %}

{% macro back_button(label, url, classes, icon, default_classes) %}
  <a class="{{ default_classes ?? 'btn btn-icon-to-circle shadow-to-bottom btn-icon mx-2' }} {{ classes }}" href="{{ url }}">
    {{ _self.icon(icon ?? 'chevron-left') }}
    <span class="d-none d-sm-inline">{{ label }}</span>
  </a>
{% endmacro %}
