{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="container my-5">
  {# List all communities the use is a member of or is waiting for an approval #}
  <div class="row">
    <div class="col text-center mb-4">
      <h2 class="h3 font-weight-light">{{ 'qs_supervisor.account.communities'|t }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="card-list">
        {% for community in variables.communities %}
          <li class="card card-list-item">
            <a href="{{ path('qs_community.welcome', {'community': community.id}) }}" class="card-pill">
              <span class="card-pill-icon">{{ macros.icon('communities-sm') }}</span>
              <span class="d-flex flex-column flex-sm-row w-100">
                <span class="card-pill-title">
                  <span>{{ community.name.value }}</span>
                </span>
                <span class="font-weight-light ml-auto mr-4 text-md-right">
                  {% set role = ('qs.roles.' ~ variables.privileges[community.tid.value]|last)|t|lower %}
                  {{ 'qs_supervisor.account.role @role'|t({'@role': role}) }}
                </span>
              </span>
              <span class="btn btn-outline-invert btn-circle shadow-to-left shadow-to-bottom" aria-label="{{ 'qs_supervisor.account.community_go'|t }}">
                {{ macros.icon('look')}}
                <span class="sr-only">{{ 'qs_supervisor.account.community_go'|t }}</span>
              </span>
            </a>
          </li>
        {% endfor %}
        {% for community in variables.pending %}
          <li class="card card-list-item card-list-item-primary">
            <a href="{{ path('qs_auth.approval', {'community': community.id}) }}" class="card-pill">
              <span class="card-pill-icon">{{ macros.icon('wait') }}</span>
              <span class="card-pill-title">
                <span>{{ community.name.value }}</span>
              </span>
                <span class="font-weight-light ml-auto mr-4 text-right">{{ 'qs_supervisor.account.community_pending'|t }}</span>
              <span class="btn btn-outline-invert btn-circle shadow-to-left shadow-to-bottom" aria-label="{{ 'qs_supervisor.account.approval_go'|t }}">
                {{ macros.icon('look')}}
                <span class="sr-only">{{ 'qs_supervisor.account.approval_go'|t }}</span>
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      <a class="btn btn-icon btn-outline-invert shadow-to-bottom" href="{{ path('qs_auth.communities.apply') }}">
        {{ macros.icon('plus') }}
        {{ 'qs_supervisor.account.dashboard.apply'|t }}
      </a>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h2 class="h3 text-center font-weight-light mb-4">{{ 'qs_supervisor.account.personal_info'|t }}</h2>
      <dl class="row">
        <dt class="col-sm-6 text-truncate text-sm-right">{{ 'qs_supervisor.account.firstname'|t }}</dt>
        <dd class="col-sm-6 text-truncate">{{ variables.user.field_firstname.value }}</dd>
        <dt class="col-sm-6 text-truncate text-sm-right">{{ 'qs_supervisor.account.lastname'|t }}</dt>
        <dd class="col-sm-6 text-truncate">{{ variables.user.field_lastname.value }}</dd>
        <dt class="col-sm-6 text-truncate text-sm-right">{{ 'qs_supervisor.account.phone'|t }}</dt>
        <dd class="col-sm-6 text-truncate">{{ variables.user.field_phone.value|default('<span class="text-muted">' ~ 'qs_supervisor.account.phone_default'|t ~ '</span>')|raw }}</dd>
        <dt class="col-sm-6 text-truncate text-sm-right">{{ 'qs_supervisor.account.mail'|t }}</dt>
        <dd class="col-sm-6 text-truncate">{{ variables.user.mail.value }}</dd>
      </dl>
    </div>
  </div>

  <div class="text-center mt-2 mb-5">
    {% if not bamboo_config_get('qs_auth.settings', 'demo_mode') %}
      <a
        class="btn btn-icon btn-outline-invert mx-2 mb-2 shadow-to-bottom"
        href="{{ path('user.logout') }}"
        title="{{ 'qs_supervisor.account.dashboard.edit'|t }}"
      >
        {{ 'qs_supervisor.account.dashboard.logout'|t }}
        {{ macros.icon('power') }}
      </a>
    {% endif %}
    {# Edit account button #}
    <a
      class="btn btn-icon btn-outline-invert mx-2 mb-2 shadow-to-bottom"
      href="{{ path('qs_supervisor.account.form.edit', {user: variables.user.uid.value}) }}"
      title="{{ 'qs_supervisor.account.dashboard.edit'|t }}"
    >
      {{ 'qs_supervisor.account.dashboard.edit'|t }}
      {{ macros.icon('pencil') }}
    </a>
  </div>
</div>
