{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% import "@quartiers_solidaires/macros.html.twig" as macros %}
{% set classes = [
  'form-multistep',
  element['#validated'] ? 'was-validated',
  'container mb-3',
] %}

<div class="d-flex flex-column flex-grow">
  {% if element['#top_links'] %}
  <div class="container mt-3">
    <div class="row justify-content-between mb-4">
      {% for path, link in element['#top_links'] %}
        <a class="btn btn-outline-secondary btn-outline-invert{{ link.options.icon ? ' btn-icon' }} shadow-to-bottom" href="{{ link.params ? path(path, link.params) : path(path) }}">
          {% if link.options.icon %}
            {{ macros.icon(link.options.icon) }}
          {% endif %}
          {{ link.label }}
        </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <form{{ attributes.addClass(classes) }}>
    {{ bamboo_render_entity('block', 'quartiers_solidaires_messages') }}
    <div class="tab-content d-flex flex-column">{{ children }}</div>
  </form>
</div>
