{% extends "@quartiers_solidaires/wrapper/fullpage.html.twig" %}

{% import '@quartiers_solidaires/macros.html.twig' as macros %}

{% block fullpage_back_buttons %}
  {% if element['#top_links'] %}
    {% for path, link in element['#top_links'] %}
      {% set btn_classes = [
        'mx-2 mb-2 mx-sm-0 btn btn-outline-secondary btn-outline-invert shadow-to-bottom',
        link.options.icon ? 'btn-icon',
        link.options.hide_xs ? 'btn-icon-to-circle' : 'btn-xs-grow',
      ] %}
      <a class="{{ btn_classes|join(' ') }}" href="{{ link.params ? path(path, link.params) : path(path) }}" title="{{ link.label }}">
        {% if link.options.icon %}
          {{ macros.icon(link.options.icon) }}
        {% endif %}
        <span class="{{ link.options.hide_xs ? 'd-none d-sm-inline' }}">{{ link.label }}</span>
      </a>
    {% endfor %}
  {% endif %}
{% endblock %}


{% block fullpage_content %}
  {% set classes = [
    'form',
    element['#validated'] ? 'was-validated',
  ] %}

  {% if element['#title'] %}
    <h1 class="mb-5">{{ element['#title'] }}</h1>
  {% endif %}

  <form{{ attributes.addClass(classes) }}>
    {{ children }}
  </form>
{% endblock %}


