{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set labelIcon = element['#title']|split('|') %}
{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% if labelIcon|length > 1 and attributes.variant == 'button_theme' %}
  <label id="label-{{ attributes.id }}" class="btn no-shadow checkbox {{ attributes.checked ? 'active' }}{{ attributes.is_offer ? ' offer-info flex-column' }}">
    {{ macros.icon("theme_#{labelIcon[1]}_o") }}
    <input{{ attributes }} />
    {% if attributes.is_offer %}
      <h4 class="mt-3">
        {{ labelIcon|first }}
      </h4>
      <span class="my-0">
        {{ ('qs_sharing.volunteerism.form.description.theme.' ~ labelIcon[1])|t }}
      </span>
    {% else %}
      {{ labelIcon|first }}
    {% endif %}
  </label>
{% else %}
  {% set classes = [
    'btn',
    labelIcon[2] ? 'mt-5 btn-' ~ labelIcon[2] : 'btn-outline-invert',
    'shadow-to-bottom',
    'btn-outline-' ~ attributes.color|default('blue'),
    labelIcon|length > 1 ? 'btn-icon',
    attributes.checked ? 'active',
    not attributes.no_block ? 'btn-block',
    element['#errors'] ? 'is-invalid'
  ] %}
  <label class="{{ classes|join(' ') }}" tabindex="0">
    {% if labelIcon|length > 1 %}
      {{ macros.icon("#{labelIcon[1]}") }}
    {% endif %}
    <input{{ attributes }} />
    {{ labelIcon|first }}
  </label>
{% endif %}


