{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set labelIcon = element['#title']|split('|') %}
{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% if labelIcon|length > 1 and attributes.variant == 'button_theme' %}
  <label class="btn checkbox {{ attributes.checked ? 'active' }}">
    {{ macros.icon("theme_#{labelIcon|last}_o") }}
    <input{{ attributes }} />
    {{ labelIcon|first }}
  </label>
{% else %}
  {% set classes = [
    'btn btn-outline-blue btn-outline-invert btn-block',
    labelIcon|length > 1 ? 'btn-icon',
    attributes.checked ? 'active',
  ] %}
  <label class="{{ classes|join(' ') }}">
    {% if labelIcon|length > 1 %}
      {{ macros.icon("#{labelIcon|last}") }}
    {% endif %}
    <input{{ attributes }} />
    {{ labelIcon|first }}
  </label>
{% endif %}


