{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="container my-5">
  <div class="row mt-3">
    <div class="col text-right">
      {% set parameters = variables.prev_month|date('Y-m') == 'now'|date('Y-m') ? {} : {'month': variables.prev_month|date('Y-m-d')} %}
      <a
        class="btn btn-outline-secondary btn-icon btn-icon-to-circle"
        href="{{ path('<current>', parameters) }}"
        aria-label="{{ 'qs.calendar.monthly.goto @month'|t({
          '@month': variables.prev_month|bamboo_i18n_format_date('custom', 'F')
        }) }}"
      >
        {{macros.icon('chevron-left')}}
        <span class="d-none d-sm-inline">{{ variables.prev_month|bamboo_i18n_format_date('custom', 'F') }}</span>
      </a>
    </div>
    <div class="col mx-auto text-center">
      <h2>
        {{ variables.current_day|bamboo_i18n_format_date('custom', 'F Y') }}
      </h2>
      <p>
        {% if variables.current_day|date('Y-m-d') != 'now'|date('Y-m-d') %}
          <a href="{{ path('<current>') }}">{{ 'qs.calendar.today'|t }}</a>
        {% endif %}
      </p>
    </div>
    <div class="col">
      {% if variables.next_month|date('Y-m') <= 'now'|date('Y-m') %}
      <a
        class="btn btn-outline-secondary btn-icon btn-icon-to-circle"
        href="{{ path('<current>', {'month': variables.next_month|date('Y-m-d')}) }}"
        aria-label="{{ 'qs.calendar.monthly.goto @month'|t({
          '@month': variables.next_month|bamboo_i18n_format_date('custom', 'F')
        }) }}"
      >
        {{macros.icon('chevron-right')}}
        <span class="d-none d-sm-inline">{{ variables.next_month|bamboo_i18n_format_date('custom', 'F') }}</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
