{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="container">
  <div class="text-center my-5">
    {{ macros.icon('theme_' ~ variables.activity.field_theme.entity.field_icon.value ~ '_lg', ['icon-xl', 'text-primary']) }}
    <h1 class="h2 text-primary mt-3">{{ variables.activity.title.value }}</h1>
  </div>

  {% if variables.events %}
    <div class="container my-5 gallery-photoswipe"  data-pswp-uid="gallery">
      <div class="row">
      {% for event in variables.events|filter(event => event.nid.value in variables.photos|keys) %}
        <div class="col-12 sticky-top bg-white mb-3">
          <h2 class="h5 mb-0" id="event{{ event.id }}">
            <time datetime="{{ event.field_end_at.date|bamboo_i18n_format_date('custom', 'Y-m-d') }}">
              {{ event.field_end_at.date|bamboo_i18n_format_date('default_medium_date_only') }}
            </time> - {{ event.title.value }}
            <span class="text-secondary-light text-small">(<a href="{{ path('entity.node.canonical', {'node': event.field_activity.entity.nid.value, 'view': 'past'}, {'fragment': 'card' ~ event.nid.value }) }}" class="text-secondary-light link-underline link-to-event">{{ 'qs.photo.view_event'|t }}</a>)</span>
          </h2>
        </div>

        {% if variables.photos[event.nid.value] %}
          <div class="col-12">
            <div class="row">
              {% for photo in variables.photos[event.nid.value] %}
                <div class="col-6 col-sm-4 col-md-3 d-flex mb-3">
                  {% include '@quartiers_solidaires/qs_photo/pages/partials/gallery-item-photoswipe.html.twig' with {'photo': photo, 'loop': loop} %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="col">
          <p class="lead text-center mt-5">
            {% if variables.activity.field_contact_mail is not empty %}
              {% set mail_link = link(variables.activity.field_contact_name.value, 'mailto:' ~ variables.activity.field_contact_mail.value, { 'target':['_blank']} )|render %}
              {{ 'qs.photo.no_photos_please_contact @mail_link'|t({'@mail_link': mail_link}) }}
            {% else %}
              {{ 'qs.photo.no_photos'|t }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{# Floating Buttons #}
{% set user = bamboo_load_currentuser() %}
{% set floating_buttons = [{
  label: 'qs_photo.floating.my_photos'|t,
  icon: 'picture',
  theme: 'primary',
  url: path('qs_photo.user.activities.collection', {
    community: variables.activity.field_community.target_id,
    user: user.id,
  })
}] %}
{{ macros.floating_buttons(floating_buttons, modal_bg|default('warning'), path('<current>')) }}

{% include '@quartiers_solidaires/misc/photoswipe-wrapper.html.twig' %}
