{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="container">
  <div class="text-center mb-5 mt-3">
    {% if variables.user %}
      {% if variables.current_user %}
        <h1>
          {{ 'qs.photos.user.collection.title'|t }}
        </h1>
      {% else %}
        <h1>
          {{ 'qs.photos.user.collection.title @name @email'|t({
            '@name': variables.user.field_firstname.value ~ ' ' ~ variables.user.field_lastname.value,
            '@email': variables.user.mail.value ? variables.user.mail.value : ''
          }) }}
        </h1>
      {% endif %}
    {% else %}
      <h1>{% trans %}qs.activity.user.collection.title{% endtrans %}</h1>
    {% endif %}
  </div>

  <div class="text-center mb-5">
    {{ macros.icon('picture-big', 'icon-xl') }}
  </div>

  {% if variables.activities %}
    <ul class="card-list" id="activities-accordion" role="tablist" data-children=".card-list-item">
      {% for activity in variables.activities if activity.nid.value in variables.photos_by_activities|keys %}
        <li class="card card-list-item" id="card{{ activity.nid.value }}">
          <a
            data-toggle="collapse"
            data-parent="#activities-accordion"
            href="#collapse-{{ activity.nid.value }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ activity.nid.value }}"
            id="activity{{ activity.nid.value }}"
          >
          <span class="card-pill-icon">
            {{ macros.icon('theme_' ~ activity.field_theme.entity.field_icon.value) }}
          </span>
            <span class="card-pill-title">{{ activity.title.value }}</span>

            <span class="btn btn-outline-invert btn-circle shadow-to-left btn-white ml-auto" aria-label="{{ 'qs.activity.more'|t }}">
            {{ macros.icon('look') }}
              <span class="sr-only d-none d-md-inline">{{ 'qs.activity.more'|t }}</span>
          </span>
          </a>

          <div class="collapse" id="collapse-{{ activity.nid.value }}" role="tabpanel">
            <div class="card-body">
              <div class="card-text text-center">

              </div>
              <div class="card-actions card-actions-offset row">
                <div class="col-sm-6 mb-3">
                  <a href="{{ path('qs_photo.activity', {activity: activity.nid.value}) }}" class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block">
                    {{ macros.icon('picture') }}
                    {{ 'qs.photos.view_activity_photos'|t }}
                  </a>
                </div>
                <div class="col-sm-6 mb-3">
                  <a href="{{ path('qs_photo.user.form.manage', {activity: activity.nid.value, user: variables.user.uid.value}) }}" class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block">
                    {{ macros.icon('pencil') }}
                    {{ 'qs.photos.manage_photos'|t }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="text-center mb-5">
      <p>
        {% trans %}
        qs.photos.user.collection.empty
        {% endtrans %}
      </p>
    </div>
  {% endif %}

  {% if variables.activities %}
  <div class="modal-footer justify-content-center sticky-bottom">
    <div class="text-center">
      <a href="{{ path('qs_photo.form.add', {community: variables.community.tid.value}) }}" class="btn btn-secondary btn-icon shadow-to-bottom">
        {{ macros.icon('plus') }}
        {{ 'qs.photos.add_photos'|t }}
      </a>
    </div>
  </div>
  {% endif %}

</div>
