{% extends "@quartiers_solidaires/wrapper/modal.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set modal_title = 'qs.activity.user.collection.title'|t %}
{% if variables.user %}
  {% if variables.current_user %}
    {% set modal_title = 'qs.photos.user.collection.title'|t %}
  {% else %}
    {% set modal_title = 'qs.photos.user.collection.title @name @email'|t({
      '@name': variables.user.field_firstname.value ~ ' ' ~ variables.user.field_lastname.value,
      '@email': variables.user.mail.value ? variables.user.mail.value : ''
    }) %}
  {% endif %}
{% endif %}
{% set modal_bg = 'primary' %}

{% set floating_buttons = [
  {
    label: 'qs_photo.floating.my_photos'|t,
    icon: 'picture',
    active: true,
  }
] %}

{% block modal_content %}
  <div class="text-center mb-5">
    {{ macros.icon('picture-big', 'icon-xl') }}
  </div>

  {% if variables.activities %}
    <ul class="card-list mb-auto" id="activities-accordion" role="tablist" data-children=".card-list-item">
      {% for activity in variables.activities if activity.nid.value in variables.photos_by_activities|keys %}
        <li class="card card-list-item" id="card{{ activity.nid.value }}">
          <a
            data-toggle="collapse"
            data-parent="#activities-accordion"
            href="#collapse-{{ activity.nid.value }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ activity.nid.value }}"
            id="activity{{ activity.nid.value }}"
          >
            <span class="card-pill-icon">
              {{ macros.icon('theme_' ~ activity.field_theme.entity.field_icon.value) }}
            </span>

            <span class="card-pill-title mr-auto">
              <span class="lead">{{ activity.title.value }}</span>
            </span>

            {# Privilege Badges #}
            {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--privilege.html.twig' with {'activity': activity, 'badges': variables.badges} %}

            <span class="btn btn-outline-invert btn-circle shadow-to-left btn-white" aria-label="{{ 'qs.activity.more'|t }}">
              {{ macros.icon('look') }}
              <span class="sr-only d-none d-md-inline">{{ 'qs.activity.more'|t }}</span>
            </span>
          </a>

          <div class="collapse" id="collapse-{{ activity.nid.value }}" role="tabpanel">
            <div class="card-body">

              <div class="card-text text-center">
                {# Privilege Textual Badges #}
                {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--privilege-textual.html.twig' with {'activity': activity, 'badges': variables.badges} %}
              </div>

              <div class="card-actions card-actions-offset row">
                <div class="col-sm-6 mb-3">
                  <a href="{{ path('qs_photo.activity', {activity: activity.nid.value}) }}" class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block">
                    {{ macros.icon('picture') }}
                    {{ 'qs.photos.view_activity_photos'|t }}
                  </a>
                </div>
                <div class="col-sm-6 mb-3">
                  <a href="{{ path('qs_photo.user.form.manage', {activity: activity.nid.value, user: variables.user.uid.value}) }}" class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block">
                    {{ macros.icon('pencil') }}
                    {{ 'qs.photos.manage_photos'|t }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="text-center mb-auto">
      <p>
        {% trans %}
          qs.photos.user.collection.empty
        {% endtrans %}
      </p>
    </div>
  {% endif %}

{% endblock %}

{% block modal_footer %}
  {% if variables.activities %}
    {% set modal_footer_button_classes = 'bg-secondary btn-outline-invert btn-outline-secondary' %}
    {% set modal_footer_buttons = [
      {
        label: 'qs.photos.add_photos'|t,
        icon: 'plus',
        url: path('qs_photo.form.add', {community: variables.community.tid.value}),
        classes: modal_footer_button_classes,
      },
    ] %}
    {{ macros.modal_footer_buttons(modal_footer_buttons) }}
  {% endif %}
{% endblock %}
