{% import "@quartiers_solidaires/macros.html.twig" as macros %}


<div class="container">
  <div class="text-center my-5">
    {% if variables.user %}
      <h1>{% trans %}qs.activity.user.collection.title {{ variables.user.field_firstname.value }} {{ variables.user.field_lastname.value }} {{ variables.user.mail.value }}{% endtrans %}</h1>
    {% else %}
      <h1>{% trans %}qs.activity.user.collection.title{% endtrans %}</h1>
    {% endif %}
  </div>

  {% if variables.activities %}
  <ul class="card-list" id="activities-accordion" role="tablist" data-children=".card-list-item">
    {% for activity in variables.activities %}
      <li class="card card-list-item" id="card{{ activity.nid.value }}">
        <a
          data-toggle="collapse"
          data-parent="#activities-accordion"
          href="#collapse-{{ activity.nid.value }}"
          class="card-pill collapsed"
          role="tab"
          aria-expanded="false"
          aria-controls="collapse-{{ activity.nid.value }}"
          id="activity{{ activity.nid.value }}"
        >
          <span class="card-pill-icon card-pill-icon-lg">
            {{ macros.icon('theme_' ~ activity.field_theme.entity.field_icon.value) }}
          </span>
          <span class="card-pill-title">{{ activity.title.value }}</span>
          <span class="btn btn-outline-secondary btn-icon btn-icon-to-circle shadow-to-left btn-white ml-auto" aria-label="{{ 'qs.activity.more'|t }}">
            {{ macros.icon('look') }}
            <span class="d-none d-md-inline">{{ 'qs.activity.more'|t }}</span>
          </span>
        </a>

        <div class="collapse" id="collapse-{{ activity.nid.value }}" role="tabpanel">
          <div class="card-actions d-flex justify-content-center mt-4 mb-3">
            <a href="{{ path('entity.node.canonical', {node: activity.nid.value}) }}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-bottom">
              {{ macros.icon('activity') }}
              {{ 'qs.activity.goto'|t }}
            </a>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    {{ macros.badge('confirmed', 'flag-subscription-confirmed') }}
    {{ macros.badge('confirmed', 'flag-subscription-confirmed') }}
    <p>{{ 'qs.activity.user.collection.empty'|t }}</p>
  {% endif %}

  {# Button to add activities #}
  {% if variables.community_has_write_access and variables.community %}
    <div class="col text-center">
      <a class="btn btn-outline-danger btn-white btn-icon shadow-floating mb-3" href="{{ path('qs_activity.activities.form.add', {community: variables.community.tid.value}) }}">
        {{ macros.icon('plus') }}
        {% trans %}qs_activity.floating.add.activity{% endtrans %}
      </a>
    </div>
  {% else %}
    {{ macros.badge('confirmed', 'flag-subscription-confirmed') }}
    <p>{{ 'qs.activity.become.activity.organizer'|t }}</p>
  {% endif %}
</div>
