{% import '@quartiers_solidaires/macros.html.twig' as macros %}
{% extends "@quartiers_solidaires/wrapper/modal.html.twig" %}

{% set modal_bg = 'primary' %}
{% set modal_title_sm = 'qs_activity.members.title'|t %}
{% set modal_subtitle = variables.activity.title.value %}

{% set floating_buttons = [
  {
    label: 'qs.activity.members'|t,
    icon: 'activities',
    active: true,
  }
] %}

{% block modal_content %}
  {{ bamboo_render_form('qs_activity', 'ActivityInlineAddMemberForm', {'activity': variables.activity}) }}

  {% if variables.members %}
    <ul class="card-list mb-auto" id="users-accordion" role="tablist" data-children=".card-list-item">
      {% for member in variables.members %}
        <li class="card card-list-item" id="card{{ member.uid.value }}">
          <a
            data-toggle="collapse"
            data-parent="#users-accordion"
            href="#collapse-{{ member.uid.value }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ member.uid.value }}"
          >
            <span class="card-pill-icon">
              {{ macros.icon('user') }}
            </span>
            <span class="card-pill-title">
              {{ member.field_firstname.value }} {{ member.field_lastname.value }}
            </span>

            {# Privilege Badges #}
            {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--privilege-user.html.twig' with {'privileges': member.privileges} %}

            <span class="btn btn-outline-invert btn-icon btn-icon-to-circle shadow-to-left" aria-label="{{ 'qs.user.more'|t }}">
              {{ macros.icon('look') }}
              <span class="d-none d-sm-inline">{{ 'qs.user.more'|t }}</span>
            </span>
          </a>

          <div class="collapse" id="collapse-{{ member.uid.value }}" role="tabpanel">
            <div class="card-body pb-0 text-center">

              <h4 class="card-title mb-0">{{ member.field_firstname.value }} {{ member.field_lastname.value }}</h4>
              <h5 class="card-title mt-1">{{ member.mail.value }}</h5>

              <div class="card-text">
                <div class="d-flex flex-wrap justify-content-center">
                  {% set radios = [{
                    active: 'activity_members' == member.privileges|last,
                    title: 'qs.roles.activity_member'|t,
                    value: 'activity_members',
                  }, {
                    active: 'activity_maintainers' == member.privileges|last,
                    title: 'qs.roles.activity_maintainer'|t,
                    value: 'activity_members|activity_maintainers',
                  }, {
                    active: 'activity_organizers' == member.privileges|last,
                    title: 'qs.roles.activity_organizer'|t,
                    value: 'activity_members|activity_maintainers|activity_organizers',
                  }] %}
                  {% set hiddens = [{
                    name: 'user',
                    value: member.uid.value,
                  }, {
                    name: 'activity',
                    value: variables.activity.nid.value,
                  }] %}
                  {% set ban = {
                    action: path('qs_acl.privilege.ban'),
                    parent: 'card'~member.uid.value,
                    confirm: 'qs_activity.members.ban_confirm'|t,
                    value: 'qs.roles.activity_none'|t,
                  } %}
                  {{ macros.radios_buttons_form(radios, path('qs_acl.privilege.toggle'), 'privilege-' ~ loop.index, hiddens, 'qs_activity.members.roles'|t, ban) }}
                </div>
              </div>

              <div class="card-actions d-flex justify-content-center mb-3">
                <a href="mailto:{{ member.mail.value }}" class="btn btn-outline-invert btn-icon shadow-to-bottom">
                  {{ macros.icon('mail') }}
                  {{ 'qs.contact @member.field_firstname.value'|t({'@member.field_firstname.value': member.field_firstname.value}) }}
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="mb-auto">{{ 'qs_activity.members.empty'|t }}</p>
  {% endif %}
{% endblock %}

{% block modal_footer %}
  {% set modal_footer_button_classes = 'btn-primary btn-outline-invert' %}
  {% set modal_footer_buttons = [
    {
      label: 'qs.contact_all'|t,
      icon: 'mail',
      url: 'mailto:?bcc=' ~ variables.mailto|join(','),
      classes: modal_footer_button_classes,
    },
  ] %}

  {% if variables.members %}
    {% set modal_footer_buttons = modal_footer_buttons|merge([
      {
        label: 'qs_activity.activities.members.export.download'|t,
        icon: 'download',
        url: path('qs_activity.activities.members.export', {activity: variables.activity.nid.value}),
        classes: modal_footer_button_classes,
      },
    ]) %}
  {% endif %}

  {{ macros.modal_footer_buttons(modal_footer_buttons) }}
  {{ variables.pager }}
{% endblock %}

