{% extends "@quartiers_solidaires/modals/modal.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% if variables.user %}
  {% set modal_title = 'qs.activity.user.collection.title @name @email'|t({
    '@name': variables.user.field_firstname.value ~ ' ' ~ variables.user.field_lastname.value,
    '@email': variables.user.mail.value ? variables.user.mail.value : ''
  }) %}
{% else %}
  {% set modal_title = 'qs.activity.user.collection.title'|t  %}
{% endif %}
{% set modal_bg = 'primary' %}
{% set floating_buttons = [
  {
    label: 'qs_activity.floating.my_activities'|t,
    icon: 'activities',
    active: true,
  }
] %}

{% block modal_content %}
    {% if variables.activities %}
    <ul class="card-list" id="activities-accordion" role="tablist" data-children=".card-list-item">
      {% for activity in variables.activities %}
        <li class="card card-list-item shadow-to-bottom" id="card{{ activity.nid.value }}">
          <a
            data-toggle="collapse"
            data-parent="#activities-accordion"
            href="#collapse-{{ activity.nid.value }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ activity.nid.value }}"
            id="activity{{ activity.nid.value }}"
          >
          <span class="card-pill-icon">
            {{ macros.icon('theme_' ~ activity.field_theme.entity.field_icon.value) }}
          </span>
            <span class="card-pill-title">
            <span class="lead">{{ activity.title.value }}</span>
          </span>

            {# Privilege Badges #}
            {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--privilege.html.twig' with {'activity': activity, 'badges': variables.badges} %}

            <span class="btn btn-outline-invert btn-circle shadow-to-left btn-white" aria-label="{{ 'qs.activity.more'|t }}">
            {{ macros.icon('look') }}
            <span class="sr-only d-none d-md-inline">{{ 'qs.activity.more'|t }}</span>
          </span>
          </a>

          <div class="collapse" id="collapse-{{ activity.nid.value }}" role="tabpanel">
            <div class="card-body">
              <div class="card-text text-center">
                {# Privilege Textual Badges #}
                {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--privilege-textual.html.twig' with {'activity': activity, 'badges': variables.badges} %}
              </div>
              <div class="card-actions d-flex justify-content-center">
                <a href="{{ path('entity.node.canonical', {node: activity.nid.value}) }}" class="btn btn-outline-invert btn-icon shadow-to-bottom">
                  {{ macros.icon('activities') }}
                  {{ 'qs.activity.goto'|t }}
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="text-center">
      <div class="d-flex justify-content-center mb-4">
        {{ macros.badge('info', 'happy', 'flag-privilege-members flag-lg', 'qs.roles.activity_member'|t) }}
        {{ macros.badge('warning', 'happy', 'flag-subscription-maintainers flag-lg', 'qs.roles.activity_maintainer'|t, true) }}
      </div>
      <p>
        {{ 'qs.activity.user.collection.empty @member @maintainer'|t({
          '@member': 'qs.roles.activity_member'|t,
          '@maintainer': 'qs.roles.activity_maintainer'|t
        }) }}
      </p>
    </div>
  {% endif %}

  {# Button to add activities #}
  {% if variables.community_has_write_access and variables.community %}
    <div class="modal-footer justify-content-center sticky-bottom mt-auto">
      <a class="btn btn-outline-invert btn-icon shadow-floating mb-3" href="{{ path('qs_activity.activities.form.add', {community: variables.community.tid.value}) }}">
        {{ macros.icon('plus') }}
        {{ 'qs_activity.floating.add.activity'|t }}
      </a>
    </div>
  {% else %}
    <div class="text-center mt-5">
      <div class="d-flex justify-content-center mb-4">
        {{ macros.badge('danger', 'happy', 'flag-privilege-organizers flag-lg p-1', 'qs.roles.activity_organizer'|t, true) }}
      </div>
      <p>
        {{ 'qs.activity.become.activity.organizer @organizer'|t({
          '@organizer': 'qs.roles.activity_organizer'|t
        }) }}
      </p>
    </div>
  {% endif %}

{% endblock %}
