{% import "@quartiers_solidaires/macros.html.twig" as macros %}
{% set community_name = variables.community.name.value|trim %}

{# Block with current search filters #}
{% if variables.events %}

  <div class="container">
    <p class="lead text-center mt-5">
      {{ 'qs.activity.date.lead @community @start_date @end_date'|t({
        '@start_date': variables.start|bamboo_i18n_format_date('custom', 'j F Y'),
        '@end_date': variables.end|bamboo_i18n_format_date('custom', 'j F Y'),
        '@community': community_name,
      }) }}
    </p>
  </div>

  <div class="container">
    <p class="lead text-center mt-5">
      {%- set count = variables.themes|length -%}
    </p>
  </div>

  <div class="container my-5">
    <ul class="card-list" id="events-accordion" role="tablist" data-children=".card-list-item">

      {% set current_header = null %}

      {% for key, event in variables.events %}
        {% set date = event.field_start_at.value|date('Y-m-d') %}
        {% set week = event.field_start_at.value|date('W') %}
        {% set current_week = 'now'|date('W') %}

        {% set new_header = 'qs.activity.date.sticky.from_to @start_date @end_date'|t({
          '@start_date': variables.start|bamboo_i18n_format_date('custom', 'j F Y'),
          '@end_date': variables.end|bamboo_i18n_format_date('custom', 'j F Y'),
        }) %}


        {% if 'now'|date('Y-m-d') == date %}
          {# TODAY #}
          {% set new_header = 'qs.activity.date.sticky.today'|t %}

        {% elseif 'tomorrow'|date('Y-m-d') == date %}
          {# TOMORROW #}
          {% set new_header = 'qs.activity.date.sticky.tomorrow'|t %}

        {% elseif date > 'tomorrow'|date('Y-m-d') and current_week == week %}
          {# THIS WEEK (between day after tomorrow and next Sunday but not next week) #}
          {% set new_header = 'qs.activity.date.sticky.this_week'|t %}

        {% elseif current_week != week %}
          {# FOLLOWING WEEKS #}
          {% set week_diff = week - current_week %}
          {% if week_diff == 1 %}
            {% set new_header = 'qs.activity.date.sticky.next_week'|t %}
          {% elseif week_diff == 2 %}
            {% set new_header = 'qs.activity.date.sticky.in_two_weeks'|t %}
          {% elseif week_diff >= 3 %}
            {% set diff = "next Monday +" ~ (week_diff - 1) ~ " weeks" %}
            {% set new_header = 'qs.activity.date.sticky.from_to @start_date @end_date'|t({
              '@start_date': variables.start|date_modify(diff)|bamboo_i18n_format_date('custom', 'j F Y'),
              '@end_date': variables.end|bamboo_i18n_format_date('custom', 'j F Y'),
            }) %}
          {% endif %}
        {% endif %}

        {# Write the header if we have a new value #}
        {% if current_header|render != new_header|render %}
          {% set current_header = new_header %}
          {% set accordion_id = 'events-accordion' ~ loop.index  %}
          {% if loop.index > 1 %}
            </ul>
            <ul class="card-list" id="{{ accordion_id }}" data-children=".card-list-item">
          {% endif %}
          <li class="sticky-top bg-white mb-2 py-2 row">
            <h2 class="col-12 h5 mb-0">{{ current_header }}</h2>
          </li>
        {% endif %}

        <li class="card card-list-item" id="card{{ event.nid.value }}">
          {% include "@quartiers_solidaires/node/partials/card-pill-simple.html.twig" %}

          <div class="collapse" id="collapse-{{ event.nid.value }}" role="tabpanel" data-parent="#{{ accordion_id }}">
              <div class="card-body">
                <div class="card-text text-center">
                  <p class="d-md-none text-primary">{{ event.field_activity.entity.title.value }}</p>
                  <h4 class="h5 card-title mb-1 mt-0">{{ event.title.value }}</h4>
                  {# Subscription Textual Badges #}
                  {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--subscription-textual.html.twig' with {'event': event, 'badges': variables.badges} %}
                </div>
                <div class="card-actions d-flex justify-content-center">
                  <a href="{{ path('entity.node.canonical', {'node': event.field_activity.entity.nid.value}, {'fragment': 'card' ~ event.nid.value })}}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-right">
                    {{ macros.icon('activities') }}
                    {{ 'qs.event.goto'|t }}
                  </a>
                </div>
              </div>
            </div>
        </li>
      {% endfor %}
    </ul>

  </div>
{% else %}
<div class="container">
  <p class="lead text-center mt-5">
    {{ 'qs.activity.date.title_empty @community @start_date @end_date'|t({
      '@start_date': variables.start|bamboo_i18n_format_date('custom', 'j F Y'),
      '@end_date': variables.end|bamboo_i18n_format_date('custom', 'j F Y'),
      '@community': community_name,
    }) }}
</div>
{% endif %}

<div class="container mb-4">
  <div class="d-flex justify-content-center">
    {% if variables.prev|date('Y-m-d') > 'now'|date('Y-m-d') %}
      <a class="btn btn-icon btn-outline-primary shadow-to-bottom btn-icon-to-circle mx-2" href="{{ path('qs_activity.collection.dates', {'date': variables.prev|date('Y-m-d'), 'community': variables.community.tid.value}) }}">
        {{ macros.icon('chevron-left') }}
        <span class="d-none d-sm-inline">{{ 'qs.activity.date.link_prev'|t }}</span>
      </a>
    {% elseif variables.prev|date('Y-m-d') == 'now'|date('Y-m-d') %}
      <a class="btn btn-icon btn-outline-primary shadow-to-bottom btn-icon-to-circle mx-2" href="{{ path('qs_activity.collection.dates', {'community': variables.community.tid.value}) }}">
        {{ macros.icon('chevron-left') }}
        <span class="d-none d-sm-inline">{{ 'qs.activity.date.link_prev'|t }}</span>
      </a>
    {% endif %}
    <a class="btn btn-icon btn-icon-right btn-outline-primary btn-xs-grow shadow-to-bottom mx-2" href="{{ path('qs_activity.collection.dates', {'date': variables.next|date('Y-m-d'), 'community': variables.community.tid.value}) }}">
      {{ 'qs.activity.date.link_next'|t }}
      {{ macros.icon('chevron-right') }}
    </a>
  </div>
</div>
