{% extends "@quartiers_solidaires/wrapper/modal.html.twig" %}

{% set modal_bg = 'primary' %}
{% set modal_title_sm = 'qs_activity.members.title'|t %}
{% set modal_subtitle = variables.activity.title.value %}

{% set floating_buttons = [
  {
    label: 'qs.activity.members'|t,
    icon: 'activities',
    active: true,
  }
] %}

{% block modal_content %}
  {{ bamboo_render_form('qs_activity', 'ActivityInlineAddMemberForm', {'activity': variables.activity}) }}

  {% if variables.members %}
    <ul class="card-list" id="users-accordion" role="tablist" data-children=".card-list-item">
      {% for member in variables.members %}
        <li class="card card-list-item" id="card{{ member.uid.value }}">
          <a
            data-toggle="collapse"
            data-parent="#users-accordion"
            href="#collapse-{{ member.uid.value }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ member.uid.value }}"
          >
            <span class="card-pill-icon">
              {{ macros.icon('user') }}
            </span>
            <span class="card-pill-title">
              {{ member.field_firstname.value }} {{ member.field_lastname.value }}
            </span>

            {# Privilege Badges #}
            {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--privilege-user.html.twig' with {'privileges': member.privileges} %}

            <span class="btn btn-outline-invert btn-icon btn-icon-to-circle shadow-to-left" aria-label="{{ 'qs.user.more'|t }}">
              {{ macros.icon('look') }}
              <span class="d-none d-sm-inline">{{ 'qs.user.more'|t }}</span>
            </span>
          </a>

          <div class="collapse" id="collapse-{{ member.uid.value }}" role="tabpanel">
            <div class="card-body pb-0 text-center">

              <h4 class="card-title mb-0">{{ member.field_firstname.value }} {{ member.field_lastname.value }}</h4>
              <h5 class="card-title mt-1">{{ member.mail.value }}</h5>

              <div class="card-text">
                <div class="d-flex flex-wrap justify-content-center">
                  <form id="privilege-{{ loop.index }}" data-ajax="true" action="{{ path('qs_acl.privilege.toggle') }}" class="" method="post">
                    <input type="hidden" name="user" value="{{ member.uid.value }}">
                    <input type="hidden" name="activity" value="{{ variables.activity.nid.value }}">

                    <div class="d-flex flex-wrap justify-content-center">
                      <div class="btn-group mb-3 mx-2 js-radio-group" role="group" aria-label="{{ 'qs_activity.members.roles'|t }}" data-toggle="buttons">

                        {% set active = 'activity_members' == member.privileges|last %}
                        {{ _self.radio_special(active, 'qs.roles.activity_member'|t, 'activity_members') }}

                        {% set active = 'activity_maintainers' == member.privileges|last %}
                        {{ _self.radio_special(active, 'qs.roles.activity_maintainer'|t, 'activity_members|activity_maintainers') }}

                        {% set active = 'activity_organizers' == member.privileges|last %}
                        {{ _self.radio_special(active, 'qs.roles.activity_organizer'|t, 'activity_members|activity_maintainers|activity_organizers') }}

                      </div>
                    </div>
                  </form>
                  <form action="{{ path('qs_acl.privilege.ban') }}" data-ajax="true" data-behavior="fadeout-parent" data-parent="card{{ member.uid.value }}" method="post">
                    <input type="hidden" name="user" value="{{ member.uid.value }}">
                    <input type="hidden" name="activity" value="{{ variables.activity.nid.value }}">
                    <button class="btn mb-3 mx-2 btn-outline-invert btn-fluid shadow-to-bottom" data-confirm="{{ 'qs_activity.members.ban_confirm'|t }}" type="submit" value="{{ 'qs.roles.activity_none'|t }}">
                      {{ 'qs.roles.activity_none'|t }}
                    </button>
                  </form>
                </div>
              </div>

              <div class="card-actions d-flex justify-content-center mb-3">
                <a href="mailto:{{ member.mail.value }}" class="btn btn-outline-invert btn-icon shadow-to-bottom">
                  {{ macros.icon('mail') }}
                  {{ 'qs.contact @member.field_firstname.value'|t({'@member.field_firstname.value': member.field_firstname.value}) }}
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ 'qs_activity.members.empty'|t }}</p>
  {% endif %}
{% endblock %}

{% block modal_footer %}
  <div class="modal-footer sticky-bottom">
    <div class="container flex-grow">
      {% if variables.mailto %}
        <p class="text-center">
          <a class="btn btn-primary btn-icon shadow-to-bottom btn-outline-invert" href="mailto:?bcc={{ variables.mailto|join(',') }}">
            {{ macros.icon('mail') }}
            {{ 'qs.contact_all'|t }}
          </a>
        </p>
      {% endif %}
      {{ variables.pager }}
    </div>
  </div>
{% endblock %}

{% macro radio_special(active, title, value) %}
  {% set classes = [
    'btn btn-outline-invert btn-fluid',
    active ? 'active',
  ] %}
  {% set input_attributes = create_attribute({
    'type': 'radio',
    'name': 'privileges',
    'title': title,
    'data-submit': 'true',
    'value': value,
    'class': 'form-radio',
    checked: active ? 'true' : 'false',
  }) %}
  <label class="{{ classes|join(' ') }}">
    <input{{ input_attributes }}>
    {{ title }}
  </label>
{% endmacro %}

