{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% if bamboo_has_role('authenticated') %}
  <a href="{{ path('user.logout') }}">{% trans %}qs_auth.logout{% endtrans %}
  <a href="{{ path('qs_auth.communities') }}">{% trans %}qs_auth.communities{% endtrans %}
{% else %}
  {# You are not logged in #}
  <div class="bg-gradient fullpage-wrapper">
    <div class="container mt-5">
      <div class="row align-items-center mb-auto">
        <div class="col text-center">
          <img class="img-fluid" src="/{{ directory }}/build/svg/sponsors.svg" alt="Réseaux Solidaires">
        </div>
      </div>
    </div>
    <div class="container my-auto">
      <div class="row">
        <div class="col-6 mx-auto">
          <img class="img-fluid" src="/{{ directory }}/build/svg/reseaux-solidaires.svg" alt="Réseaux Solidaires">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-3">
        <div class="col-6">
          <a class="btn btn-block btn-icon btn-white btn-icon-right" href="{{ path('qs_auth.login') }}">
            {% trans %}qs_auth.login{% endtrans %}
             {{ macros.icon('plus') }}
          </a>
        </div>
        <div class="col-6">
          <a class="btn btn-block btn-icon btn-icon-right btn-outline-primary btn-outline-invert" href="{{ path('qs_auth.register') }}">
            {% trans %}qs_auth.register{% endtrans %}
            {{ macros.icon('arrow') }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
