{% extends "@quartiers_solidaires/pages/page--fullpage.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% block content %}
  <div class="container mt-5">
    <div class="row align-items-center mb-auto">
      <div class="col text-center">
        <img class="img-fluid" src="/{{ directory }}/build/svg/sponsors.svg" alt="{{ 'Sponsors: Pro Senectute & EPFL Ecal Lab'|t }}">
      </div>
    </div>
  </div>

  {% if page.messages %}
    <div class="container mt-5">
      {{ page.messages }}
    </div>
  {% endif %}

  <div class="container my-auto">
    <div class="row">
      <div class="col-6 mx-auto mb-5">
        <a href="{{ bamboo_has_role('authenticated') ? path('qs_auth.communities') : path('qs_auth.login') }}">
          <img class="img-fluid" src="/{{ directory }}/build/svg/reseaux-solidaires.svg" alt="Réseaux Solidaires">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mx-auto text-center small">
        <p class="text-white">
          {{ 'qs.partners.sponsored_by_sponsor'|t }}<br>
          {{ 'qs.partners.technology_by_antistatique'|t }}
        </p>

        {# Display language switcher #}
        <p class="text-white">
          {{ bamboo_render_block('qs_site_langswitcher_block') }}
        </p>
      </div>
    </div>
  </div>

  {% include '@quartiers_solidaires/block/partials/qs--auth--floating-buttons.html.twig' %}
{% endblock %}
