{% import "@quartiers_solidaires/macros.html.twig" as macros %} {# You are not logged in #}

<div class="text-center my-5">
  {{ macros.icon('theme_' ~ variables.theme.field_sharing_icon.value, ['icon-xl', 'text-primary']) }}
  <h1 class="h2 text-primary my-3">{{ variables.offer_type.title.value }}</h1>
  {% if variables.offer_type.body.value %}
    <div class="mb-5 text-center rich-content rich-content-primary">
      {% set body = {
        '#type':   'processed_text',
        '#text':    variables.offer_type.body.value,
        '#format':  variables.offer_type.body.format,
      } %}
      {{ body }}
    </div>
  {% endif %}
</div>


{# Export PDF button availables to everyone. #}
{% if variables.theme.tid.value  %}
<div class="text-center">
  <a href="{{ url('qs_sharing.export.offer_type.offers.pdf', {'offer_type': variables.offer_type.nid.value, 'theme': variables.theme.tid.value }) }}">
    {{ 'qs.sharing.offer.list.download'|t }}
  </a>
</div>
{% endif %}

{% if variables.offers %}
  <ul class="card-list" id="offers-accordion" role="tablist" data-children=".card-list-item">

  {% embed '@quartiers_solidaires/node/partials/card-list.html.twig' with {card_list_id: 'offers-accordion'} %}
    {% block card_list_items %}
      {% for key, offer in variables.offers %}
        {% set contact_phone = offer.field_contact_phone.value %}
        {% set contact_mail = offer.field_contact_mail.value %}

        {% set body = {
          '#type':   'processed_text',
          '#text':    offer.body.value,
          '#format':  offer.body.format,
        } %}

        {% include "@quartiers_solidaires/node/card-list-item-offer.html.twig" %}

      {% endfor %}
    {% endblock %}
  {% endembed %}


  </ul>
{% else %}
  <h2 class="h4 mb-4 text-center">
    {{ 'qs.sharing.no_offers'|t }}
  </h2>
{% endif %}

