{% extends "@quartiers_solidaires/pages/page--fullpage.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{# You are not logged in #}

{% block header %}{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center flex-column mt-5 container">
    <div class="row align-items-center mb-auto">
      <div class="col-6 col-md-3 mx-auto">
        <a href="{{ bamboo_has_role('authenticated') ? path('qs_auth.communities') : path('qs_auth.login') }}">
          <img class="img-fluid" src="/{{ directory }}/build/svg/reseaux-solidaires.svg" alt="{{ 'Réseaux Solidaires'|t }}">
        </a>
      </div>
    </div>
  </div>

  <div class="my-auto container">
    {{ page.messages }}

    <div class="row">
      <div class="col-6 mx-auto text-center text-white">
        <h1 class="display-1 font-weight-bold">
          {{ title ?? 'qs.error.403.title'|t }}
        </h1>
        <p>
          {{ description ?? 'qs.error.403.description'|t }}
        </p>
      </div>
    </div>
  </div>

  {% include '@quartiers_solidaires/block/partials/qs--auth--floating-buttons.html.twig' %}
{% endblock %}

