{% extends "@quartiers_solidaires/wrapper/modal.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set modal_title = 'qs_sharing.user.offers.collection.title'|t %}
{% set modal_bg = 'primary' %}

{% set floating_buttons = [
  {
    label: 'qs_sharing.floating.my_offers'|t,
    icon: 'pencil',
    active: true,
  }
] %}

{% set community_name = variables.community.name.value|trim %}

{% block modal_content %}

  {% if variables.offers %}
    <ul class="card-list card-list-offer mb-auto" id="offers-accordion" role="tablist" data-children=".card-list-item">
      {% for offer in variables.offers %}
        {% set is_deactivated = offer.status.value != 1 %}
        <li class="card card-list-item {% if is_deactivated %}deactivated{% endif %}" id="card{{ offer.nid.value }}">
          <a
            data-toggle="collapse"
            data-parent="#offers-accordion"
            href="#collapse-{{ offer.nid.value }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ offer.nid.value }}"
            id="offer{{ offer.nid.value }}"
          >
            <span class="card-pill-icon">
              {{ macros.icon('theme_' ~ offer.field_theme.entity.field_sharing_icon.value) }}
            </span>

            <span class="card-pill-title {% if is_deactivated %}mr-auto{% endif %}">
              <span class="lead">{{ offer.field_offer_type.entity.title.value }}</span>
            </span>

            {% if is_deactivated %}
              <span class="card-pill-title card-pill-deactivated mx-auto">
                <span>
                {{ 'qs_sharing.user.offers.collection.deactivated @date'|t({
                  '@date': offer.changed.value|bamboo_i18n_format_date('default_medium_date_only')
                }) }}
                </span>
              </span>
            {% endif %}

            <span class="btn btn-outline-invert btn-circle btn-icon shadow-to-left btn-white">
              {{ macros.icon('look') }}
              <span>{{ 'qs_sharing.offer.more'|t }}</span>
            </span>
          </a>

          <div class="collapse" id="collapse-{{ offer.nid.value }}" role="tabpanel">
            <div class="card-body mx-auto">
              <div class="card-text text-center mb-4">
                {% if offer.field_description.value %}
                  <h4 class="h5 card-title mb-3 mt-0">{{ offer.field_description.value }}</h4>
                {% endif %}
                <p class="mb-0">{{ offer.body.value }}</p>
              </div>

              {# @todo Handle edit + add actions in routing and controller #}
              <div class="card-actions card-actions-offset row">
                {% if not is_deactivated %}
                  <div class="col-sm-6 mb-3">
                    <form action="{{ path('qs_sharing.offers.form.deactivate', {offer: offer.nid.value}) }}" data-ajax="true" data-parent="card{{ offer.nid.value }}" class="offer" method="post" id="qs-offer-deactivate-confirm-{{ offer.nid.value }}">
                      <button class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block" data-confirm="{{ 'qs_sharing.user.offers.collection.deactivate'|t }}" type="submit" value="{{ 'qs_sharing.user.offers.collection.deactivate.confirmed'|t }}">
                        {{ macros.icon('cross') }}
                        {{ 'qs_sharing.user.offers.collection.deactivate'|t }}
                      </button>
                    </form>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <a href="#" class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block">
                      {{ macros.icon('pencil') }}
                      {{ 'qs_sharing.user.offers.collection.edit'|t }}
                    </a>
                  </div>
                {% else %}
                  <div class="col-sm-6 mb-3">
                    <form action="{{ path('qs_sharing.offers.form.delete', {offer: offer.nid.value}) }}" data-ajax="true" data-parent="card{{ offer.nid.value }}" class="offer" method="post" id="qs-offer-deactivate-confirm-{{ offer.nid.value }}">
                      <button class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block" data-confirm="{{ 'qs_sharing.user.offers.collection.delete'|t }}" type="submit" value="{{ 'qs_sharing.user.offers.collection.delete.confirmed'|t }}">
                        {{ macros.icon('trash') }}
                        {{ 'qs_sharing.user.offers.collection.delete'|t }}
                      </button>
                    </form>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <form action="{{ path('qs_sharing.offers.form.reactivate', {offer: offer.nid.value}) }}" data-ajax="true" data-parent="card{{ offer.nid.value }}" class="offer" method="post" id="qs-offer-deactivate-confirm-{{ offer.nid.value }}">
                      <button class="btn btn-outline-invert btn-icon shadow-to-bottom btn-block" data-confirm="{{ 'qs_sharing.user.offers.collection.reactivate'|t }}" type="submit" value="{{ 'qs_sharing.user.offers.collection.reactivate.confirmed'|t }}">
                        {{ macros.icon('clockwise') }}
                        {{ 'qs_sharing.user.offers.collection.reactivate'|t }}
                      </button>
                    </form>
                  </div>
                {% endif %}
              </div>

            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="text-center mb-auto">
      <p>
        {{ 'qs_sharing.user.offers.collection.empty'|t }}
      </p>
    </div>
  {% endif %}
{% endblock %}


{% block modal_footer %}
  {% set modal_footer_button_classes = 'bg-info btn-outline-invert btn-outline-info' %}
  {% set modal_footer_buttons = [
    {
      label: 'qs_sharing.add_offer'|t,
      icon: 'plus',
      url: path('qs_sharing.offers.form.add', {community: variables.community.tid.value}),
      classes: modal_footer_button_classes,
    },
  ] %}
  {{ macros.modal_footer_buttons(modal_footer_buttons) }}
{% endblock %}

