<li class="card card-flippable card-list-item" data-status="{{ status }}" data-status-badge="{{ guests_status|default(status) }}" data-guests="{{ guests }}" id="card{{ key }}">

  <div class="card-front">
    {% include "@quartiers_solidaires/node/partials/card-pill.html.twig" %}
  </div>

  <div class="collapse" id="collapse-{{ key }}" role="tabpanel" data-parent="#events-accordion">
    {% include "@quartiers_solidaires/node/partials/card-body.html.twig" %}
  </div>

  {# Contact info card #}
  {% embed '@quartiers_solidaires/node/partials/card-back.html.twig' with {
    'icon': 'user',
    'title': contact_name ?: 'qs.event.contact'|t,
    'activity': event.field_activity.entity,
  } %}
    {% block card_back_id %}contact-{{ key }}{% endblock %}

    {% block card_back_body %}
      {% import "@quartiers_solidaires/macros.html.twig" as macros %}

      {% if contact_name %}
        <p class="card-text">
          {{ 'qs.event.contact_description @contact_name'|t({'@contact_name': contact_name}) }}
          {{ contact_phone or contact_mail ? 'qs.event.contact.you_can_contact'|t }}
          {{ contact_phone ? 'qs.event.contact.by_phone'|t }}
          {{ contact_phone and contact_mail ? 'qs.event.contact.or'|t }}
          {{ contact_mail ? 'qs.event.contact.by_email'|t }}
        </p>
      {% endif %}

      <div class="row">
        {{ contact_phone ? macros.card_back_button(contact_phone, "tel:#{contact_phone}", 'phone') }}
        {{ contact_mail ? macros.card_back_button(contact_mail, "mailto:#{contact_mail}", 'mail') }}
        {{ macros.card_back_button('qs.event.back_to_event'|t, false) }}
      </div>
    {% endblock %}

  {% endembed %}

  {# Map info card #}
  {% if event.field_venue.value %}
    {% embed '@quartiers_solidaires/node/partials/card-back.html.twig' with {
      'icon': 'meeting',
      'title': event.field_venue.value,
      'activity': event.field_activity.entity,
    } %}
      {% block card_back_id %}map-{{ key }}{% endblock %}

      {% block card_back_class -%}
        card-back {{ event.field_venue_lat.value and event.field_venue_long.value ? 'card-back-map' }}
      {%- endblock %}

      {% block card_back_body %}
        {% import "@quartiers_solidaires/macros.html.twig" as macros %}

        {# Enable the map only when lat & lng are given #}
        {% if event.field_venue_lat.value and event.field_venue_long.value %}
          <div class="card-map" id="map-container-{{ key }}" data-lat="{{ event.field_venue_lat.value }}" data-lng="{{ event.field_venue_long.value }}" data-label="{{ event.field_venue.value }}" data-info="<strong>{{ event.title.value }}</strong> <br/>{{ event.field_venue.value }}">
            <div class="align-items-center d-flex h-100 justify-content-center">{{ 'qs.map.loading'|t }}</div>
          </div>
        {% else %}
          <p class="card-text">{{ 'qs.map.none'|t }}</p>
        {% endif %}

        <div class="row {% if event.field_venue_lat.value and event.field_venue_long.value %}card-map-footer{% endif %}">
          {{ macros.card_back_button('qs.event.back_to_event'|t, false) }}
        </div>
      {% endblock %}
    {% endembed %}
  {% endif %}

</li>

