{% import "@quartiers_solidaires/macros.html.twig" as macros %}
{% set classes = [
  'card mb-4  shadow-to-bottom-secondary',
  not event ? 'opacity-50',
] %}
<a href="{{ path('entity.node.canonical', {node: node.nid.value}) }}" class="{{ classes|join(' ') }}" id="card-activity{{ node.nid.value }}">

  {# Privilege Badges #}
  {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--privilege.html.twig' with {'activity': node, 'badges': badges} %}

  <div class="card-body">
    <h3 class="mt-3 mb-4 h5 font-weight-normal text-center">{{ node.title.value }}</h3>
    <div class="text-center">

      <p class="text-secondary">
        {%- if event -%}
          {{ 'qs.activity.nextevent'|t }}:<br>
          {% set event_date = event.field_start_at.date|bamboo_i18n_format_date('default_medium_date_only') %}
          {% set event_start_hour = event.field_start_at.date|bamboo_i18n_format_date('default_short_hours_minutes') %}
          {% set event_end_hour = event.field_end_at.date|bamboo_i18n_format_date('default_short_hours_minutes') %}
          {# Special use-case for German, we strip the "Uhr" of the start date #}
          <span class="text-dark">{{ event_date }}<br>{{ bamboo_i18n_current_lang() == 'de' ? event_start_hour|replace({'Uhr': ''}) : event_start_hour }}&nbsp;–&nbsp;{{ event_end_hour }}</span>
        {% else %}
          <span class="text-dark">{{ 'qs.activity.nextevent.empty'|t }}</span>
        {%- endif -%}
      </p>
    </div>
  </div>
  <div class="card-pill card-pill-white">
    <span class="card-pill-icon">
      {{ macros.icon('look') }}
    </span>
    <span class="card-pill-title mx-auto">
      <span class="text-dark">{{ 'qs.activity.readmore'|t }}</span>
    </span>
  </div>
</a>
