{% extends "@quartiers_solidaires/wrapper/modal.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set modal_bg = 'danger' %}
{% set modal_title = 'qs_community.members.title'|t %}
{% set modal_subtitle = variables.community.name.value %}
{% set floating_buttons = [
  {
    label: 'qs_community.dashboard.members'|t,
    icon: 'happy',
    active: true,
  }
] %}

{% block modal_content %}
  {{ bamboo_render_form('qs_community', 'MembersFilterForm') }}

  {% if variables.members %}
    <ul class="card-list mb-auto" id="users-accordion" role="tablist" data-children=".card-list-item">
      {% for member in variables.members %}
        <li class="card card-list-item" id="card{{ member.uid.value }}">
          <a
            data-toggle="collapse"
            data-parent="#users-accordion"
            href="#collapse-{{ member.uid.value }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ member.uid.value }}"
          >
            <span class="card-pill-icon">
                {{ macros.icon('user') }}
              </span>
            <span class="card-pill-title">
                {{ member.field_firstname.value }} {{ member.field_lastname.value }}
            </span>
            <span class="btn btn-outline-invert btn-icon btn-icon-to-circle shadow-to-left btn-white ml-auto" aria-label="{{ 'qs.user.more'|t }}">
              {{ macros.icon('look') }}
              <span class="d-none d-sm-inline">{{ 'qs.user.more'|t }}</span>
            </span>
          </a>

          <div class="collapse" id="collapse-{{ member.uid.value }}" role="tabpanel">
            <div class="card-body pb-0 text-center">

              <h4 class="card-title mb-0">{{ member.field_firstname.value }} {{ member.field_lastname.value }}</h4>
              <h5 class="card-title mt-1">{{ member.mail.value }}</h5>

              <div class="card-text d-flex justify-content-center flex-wrap">
                {% set radios = [{
                  active: 'community_members' == member.privileges|last,
                  title: 'qs.roles.community_member'|t,
                  value: 'community_members',
                }, {
                  active: 'community_organizers' == member.privileges|last,
                  title: 'qs.roles.community_organizer'|t,
                  value: 'community_members|community_organizers',
                }, {
                  active: 'community_managers' == member.privileges|last,
                  title: 'qs.roles.community_manager'|t,
                  value: 'community_members|community_organizers|community_managers',
                }] %}
                {% set hiddens = [{
                  name: 'user',
                  value: member.uid.value,
                }, {
                  name: 'community',
                  value: variables.community.tid.value,
                }] %}
                {% set ban = {
                  action: path('qs_acl.privilege.ban'),
                  parent: 'card'~member.uid.value,
                  confirm: 'qs_community.members.community_none_confirm'|t,
                  value: 'qs.roles.community_none'|t,
                } %}
                {{ macros.radios_buttons_form(radios, path('qs_acl.privilege.toggle'), 'privilege-'~loop.index, hiddens, 'qs_community.members.roles'|t, ban) }}
              </div>

              <div class="card-actions d-flex justify-content-center mb-3">
                <a href="mailto:{{ member.mail.value }}" class="btn btn-outline-invert btn-icon btn-white shadow-to-bottom">
                  {{ macros.icon('mail') }}
                  {{ 'qs.contact @member.field_firstname.value'|t({'@member.field_firstname.value': member.field_firstname.value}) }}
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-center mb-auto">{{ 'qs_community.members.empty'|t }}</p>
  {% endif %}

  {{ variables.pager }}
{% endblock %}

{% block modal_footer %}
  {% set modal_footer_button_classes = 'btn-outline-danger btn-outline-invert' %}
  {% set modal_footer_buttons = [
    {
      label: 'qs_community.dashboard.waiting_approval'|t,
      icon: 'wait',
      url: path('qs_community.waiting_approval', {community: variables.community.tid.value}),
      classes: modal_footer_button_classes,
    },
    {
      label: 'qs.previous.to_community_dashboard'|t,
      icon: 'checklist',
      url: path('qs_community.dashboard', {community: variables.community.tid.value}),
      classes: modal_footer_button_classes,
    },
  ] %}

  {# Download #}
  {% if variables.members %}
    {% set modal_footer_buttons = modal_footer_buttons|merge([
      {
        label: 'qs_community.members.export.download'|t,
        icon: 'download',
        url: path('qs_community.members.export', {community: variables.community.tid.value}),
        classes: modal_footer_button_classes,
      },
    ]) %}
  {% endif %}

  {{ macros.modal_footer_buttons(modal_footer_buttons) }}
{% endblock %}
