{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="modal-body">
  <div class="container">

    <div class="text-center mt-3 my-5">
      <h2>{% trans %}qs.auth.communities.dashboard_title {{ variables.community.name.value }}{% endtrans %}</h2>
      <p>{{ 'qs.auth.communities.dashboard_description'|t }}</p>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4 mx-auto text-center">
        <ul class="list-unstyled mt-3 mx-auto">
          <li>
            <a class="btn btn-block btn-outline-danger btn-outline-invert btn-icon mb-2 shadow-to-bottom" href="{{ path('qs_community.members', {community: variables.community.tid.value}) }}">
              {{ macros.icon('happy') }}
              {{ 'qs_community.dashboard.members'|t }}
            </a>
          </li>
          <li>
            <a class="btn btn-block btn-outline-danger btn-outline-invert btn-icon mb-2 shadow-to-bottom" href="{{ path('qs_community.waiting_approval', {community: variables.community.tid.value}) }}">
              {{ macros.icon('wait') }}
              {{ 'qs_community.dashboard.waiting_approval'|t }}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
