{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="container">
  <div class="text-center my-5">
    <h1>{% trans %}qs_community.members.title{% endtrans %}</h1>
    <h2>{{ variables.community.name.value }}</h2>
  </div>

  {% if variables.members %}
    <ul class="card-list" id="users-accordion" role="tablist" data-children=".card-list-item">
    {% for member in variables.members %}
      <li class="card card-list-item">
        <a
          data-toggle="collapse"
          data-parent="#users-accordion"
          href="#collapse-{{ loop.index0 }}"
          class="card-pill collapsed"
          role="tab"
          aria-expanded="false"
          aria-controls="collapse-{{ loop.index0 }}"
        >
          <span class="card-pill-icon">
              {{ macros.icon('user') }}
            </span>
          <span class="card-pill-title">
              {{ member.field_firstname.value }} {{ member.field_lastname.value }}
          </span>
          <span class="btn btn-outline-secondary btn-icon btn-icon-to-circle shadow-to-left btn-white ml-auto" aria-label="{{ 'qs.user.more'|t }}">
            {{ macros.icon('look') }}
            <span class="d-none d-md-inline">{{ 'qs.user.more'|t }}</span>
          </span>
        </a>

        <div class="collapse" id="collapse-{{ loop.index0 }}" role="tabpanel">
          <div class="card-body pb-0 text-center">

            <h4 class="card-title">{{ member.field_firstname.value }} {{ member.field_lastname.value }}</h4>

            <div class="card-text">
              <form id="privilege-{{ loop.index }}" action="{{ path('qs_acl.privilege.toggle') }}" class="" method="post">
                <input type="hidden" name="user" value="{{ member.uid.value }}">
                <input type="hidden" name="community" value="{{ variables.community.tid.value }}">

                <div class="d-flex flex-wrap">
                  <div class="btn-group mb-3" role="group" aria-label="{% trans %}qs_community.members.roles{% endtrans %}" data-toggle="buttons">
                    <label class="btn btn-white btn-outline-secondary {% if 'community_members' in member.privileges %}active{% endif %}">
                      <input title="{{ 'qs.roles.community_member'|t }}" variant="button" type="checkbox" name="privileges[]" value="community_members" {% if 'community_members' in member.privileges %}checked{% endif %} class="form-checkbox">
                      {{ 'qs.roles.community_member'|t }}
                    </label>

                    <label class="btn btn-white btn-outline-secondary {% if 'community_organizers' in member.privileges %}active{% endif %}">
                      <input title="{{ 'qs.roles.community_organizer'|t }}" variant="button" type="checkbox" name="privileges[]" value="community_organizers" {% if 'community_organizers' in member.privileges %}checked{% endif %} class="form-checkbox">
                      {{ 'qs.roles.community_organizer'|t }}
                    </label>

                    <label class="btn btn-white btn-outline-secondary {% if 'community_managers' in member.privileges %}active{% endif %}">
                      <input title="{{ 'qs.roles.community_manager'|t }}" variant="button" type="checkbox" name="privileges[]" value="community_managers" {% if 'community_managers' in member.privileges %}checked{% endif %} class="form-checkbox">
                      {{ 'qs.roles.community_manager'|t }}
                    </label>
                  </div>
                </div>
              </form>
              <form action="{{ path('qs_acl.privilege.ban') }}" method="post">
                <input type="hidden" name="user" value="{{ member.uid.value }}">
                <input type="hidden" name="community" value="{{ variables.community.tid.value }}">
                <button class="btn btn-white btn-outline-secondary" type="submit" value="{{ 'qs.roles.community_none'|t }}">
                  {{ 'qs.roles.community_none'|t }}
                </button>
              </form>
            </div>

            <div class="card-actions d-flex justify-content-center mt-4 mb-3">
              <a href="mailto:{{ member.mail.value }}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-bottom">
                {{ macros.icon('mail') }}
                {% trans %}qs.contact {{ member.field_firstname.value }}{% endtrans %}
              </a>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>{% trans %}qs_community.members.empty{% endtrans %}</p>
  {% endif %}
</div>
