{% extends "@quartiers_solidaires/modals/modal.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set modal_bg = 'danger' %}
{% set modal_title = 'qs.auth.communities.dashboard_title @variables.community.name.value'|t({
  '@variables.community.name.value': variables.community.name.value,
})%}
{% set modal_subtitle = 'qs.auth.communities.dashboard_description'|t %}
{% set floating_buttons = [
  {
    label: 'qs_menu.links.account.communities'|t,
    icon: 'communities-sm',
  }
] %}

{% block modal_content %}
  <div class="row">
    <div class="col-sm-6 col-lg-4 mx-auto text-center">
      <ul class="list-unstyled mt-3 mx-auto">
        <li>
          <a class="btn btn-block btn-outline-danger btn-outline-invert btn-icon mb-2 shadow-to-bottom" href="{{ path('qs_community.members', {community: variables.community.tid.value}) }}">
            {{ macros.icon('happy') }}
            {{ 'qs_community.dashboard.members'|t }}
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-outline-danger btn-outline-invert btn-icon mb-2 shadow-to-bottom" href="{{ path('qs_community.waiting_approval', {community: variables.community.tid.value}) }}">
            {{ macros.icon('wait') }}
            {{ 'qs_community.dashboard.waiting_approval'|t }}
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}



