{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{# Help arrow top. #}
<div class="arrow-onboarding arrow-onboarding-top" aria-hidden="true">
  <svg preserveAspectRatio="xMidYMid" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-big-top"></use>
  </svg>
</div>
<div class="text-onboarding text-onboarding-top text-center anim-fade-in-delay">
  {{ 'qs.onboarding.menu'|t }}
</div>

{# Title and subtitle #}
<div class="text-center my-auto">
  <div class="col-md-10 col-lg-8 mx-auto mb-5">
    {{ macros.icon('communities-big', {'classes': 'icon-xl mb-5'}) }}
    <h1 class="h5">
      {{ 'qs.community.welcome.title @firstname @lastname'|t({
        '@firstname': variables.user.field_firstname|first.value,
        '@lastname': variables.user.field_lastname|first.value,
      }) }}
    </h1>
    <p>
      {{ 'qs.community.welcome.body @community'|t({
        '@community': variables.community.name.value
      }) }}
    </p>
  </div>
</div>

{# Second help arrow at bottom. #}
{#<div class="text-onboarding text-onboarding-bottom text-center anim-fade-in-delay">#}
  {#{{ 'qs.onboarding.my_account'|t }}#}
{#</div>#}
{#<div class="arrow-onboarding arrow-onboarding-bottom" aria-hidden="true">#}
  {#<svg preserveAspectRatio="xMidYMid" aria-hidden="true">#}
    {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-big-bottom"></use>#}
  {#</svg>#}
{#</div>#}

{% block floating %}
  {% set floating_buttons = floating_buttons ?? [{
    label: bamboo_config_get('system.site', 'name'),
  }] %}

  {{ macros.floating_buttons(floating_buttons, modal_bg|default('warning'), path('<current>')) }}
{% endblock %}
