{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="container">
  <div class="row mt-3">
    <div class="col text-right">
      {% if variables.prev_week|date('Y-W') >= 'now'|date('Y-W') %}
        {% set parameters = variables.prev_week|date('Y-W') == 'now'|date('Y-W') ? {} : {'day': variables.prev_week|date('Y-m-d')} %}
        <a
          id="calendar-weekly-prev"
          class="btn btn-outline-secondary btn-icon"
          href="{{ path('<current>', parameters) }}"
        >
          {{macros.icon('chevron-left')}}
          <span class="sr-only">{{ 'qs.calendar.weekly.week'|t }}</span>
          {{ 'qs.calendar.weekly.previous'|t }}
        </a>
      {% endif %}
    </div>
    <div class="col mx-auto text-center">
      <h2>
        {{ variables.current_day|bamboo_i18n_format_date('custom', 'F Y') }}
      </h2>
      <p>
        {% if variables.current_day|date('Y-m-d') != 'now'|date('Y-m-d') %}
          <a href="{{ path('<current>') }}">{{ 'qs.calendar.today'|t }}</a>
        {% endif %}
      </p>
    </div>
    <div class="col">
      <a
        id="calendar-weekly-next"
        class="btn btn-outline-secondary btn-icon btn-icon-right"
        href="{{ path('<current>', {'day': variables.next_week|date('Y-m-d')}) }}"
      >
        {{macros.icon('chevron-right')}}
        <span class="sr-only">{{ 'qs.calendar.weekly.week'|t }}</span>
        {{ 'qs.calendar.weekly.next'|t }}
      </a>
    </div>
  </div>

  <div class="calendar-wrapper">
    <div class="calendar clearfix">
      {% for day in ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %}
        <strong class="calendar-head">{{ day|bamboo_i18n_format_date('custom', 'D') }}</strong>
      {% endfor %}

      {% for day in variables.dates %}
        {% set is_today = day|date('Y-m-d') == 'now'|date('Y-m-d') %}
        {% set is_active = day|date('Y-m-d') == variables.current_day|date('Y-m-d') %}
        {% set is_past = day|date('Y-m-d') < 'now'|date('Y-m-d') %}

        {% set classes = [
          'calendar-item btn btn-circle shadow-to-bottom',
          is_today ? 'btn-outline-secondary' : 'btn-outline-primary',
          is_active ? 'active',
          not is_today and (is_past or day|date('Y-m-d') not in variables.events|keys) ? 'disabled',
          ] %}

        {% set parameters = is_today ? {} : {'day': day|date('Y-m-d')} %}

        <a
          class="{{ classes|join(' ') }}"
          aria-label="{{ day|bamboo_i18n_format_date('custom', 'j F Y') }}"
          href="{{ path('<current>', parameters) }}"
        >
          <span>{{ day|date('j') }}</span>
          {% if not is_past %}
            {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--subscription-dots.html.twig' with {'day': day, 'badges': variables.badges} %}
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>

</div>
