{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="container">
  <div class="row mt-3">
    <div class="col text-right">
      {% if variables.prev_month|date('Y-m') >= 'now'|date('Y-m') %}
        {% set parameters = variables.prev_month|date('Y-m') == 'now'|date('Y-m') ? {} : {'day': variables.prev_month|date('Y-m-d')} %}
        <a
          class="btn btn-outline-secondary btn-icon"
          href="{{ path('<current>', parameters) }}"
          aria-label="{{ 'qs.calendar.monthly.goto @month'|t({
            '@month': variables.prev_month|bamboo_i18n_format_date('custom', 'F')
          }) }}"
        >
          {{macros.icon('chevron-left')}}
          {{ variables.prev_month|bamboo_i18n_format_date('custom', 'F') }}
        </a>
      {% endif %}
    </div>
    <div class="col mx-auto">
      <h2 class="text-center">
        {{ variables.current_day|bamboo_i18n_format_date('custom', 'F Y') }}
      </h2>
    </div>
    <div class="col">
      <a
        class="btn btn-outline-secondary btn-icon btn-icon-right"
        href="{{ path('<current>', {'day': variables.next_month|date('Y-m-d')}) }}"
        aria-label="{{ 'qs.calendar.monthly.goto @month'|t({
          '@month': variables.next_month|bamboo_i18n_format_date('custom', 'F')
        }) }}"
      >
        {{macros.icon('chevron-right')}}
        {{ variables.next_month|bamboo_i18n_format_date('custom', 'F') }}
      </a>
    </div>
  </div>
  <div class="row">
    <div class="calendar">
      {% set week = [
        'monday'|date('D'),
        'tuesday'|date('D'),
        'wednesday'|date('D'),
        'thursday'|date('D'),
        'friday'|date('D'),
        'saturday'|date('D'),
        'sunday'|date('D'),
      ] %}
      {% for day in week %}
        <strong class="calendar-head">{{ day }}</strong>
      {% endfor %}

      {% for day in variables.dates %}
        {% set is_today = day|date('Y-m-d') == 'now'|date('Y-m-d') %}
        {% set is_current_month = day|date('Y-m') == variables.current_day|date('Y-m') %}
        {% set is_active = day|date('Y-m-d') == variables.current_day|date('Y-m-d') %}

        {% set classes = [
          'calendar-item btn btn-circle shadow-to-bottom',
          is_today ? 'btn-outline-secondary' : 'btn-outline-primary',
          is_active ? 'active',
          not is_current_month ? 'disabled',
        ] %}

        {% set parameters = is_today ? {} : {'day': day|date('Y-m-d')} %}

        <a
          class="{{ classes|join(' ') }}"
          aria-label="{{ day|bamboo_i18n_format_date('custom', 'j F Y') }}"
          href="{{ path('<current>', parameters) }}"
        >
          {{ is_current_month ? day|date('j') }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
