{% import "@quartiers_solidaires/macros.html.twig" as macros %}
<div class="navbar-container">
  <button class="btn btn-outline-primary navbar-toggle" title="Afficher ou cacher le menu">
    {{ macros.icon('wheel') }}
  </button>

  <div class="navbar-current">
    <div class="navbar-filters">
      {% for section in variables.menu if variables.route_name in section.activated_by %}

        <button class="btn btn-primary btn-icon">
          {{ macros.icon(section.icon) }}
          <span class="sr-only">{{ 'qs.menu.current_page'|t }}</span>
          {{ section.label }}
        </button>

        {% for key, link in section.links %}
          {% set active = key == variables.route_name %}
          {% set classes = [
            'btn btn-outline-primary navbar-filter',
            active ? 'active',
          ] %}
          <a href="{{ link.url }}" class="{{ classes|join(' ') }}">
            <span class="sr-only">{{ active ? 'qs.menu.sorted_by'|t : 'qs.menu.sort_by'|t }}</span>
            {{ link.label }}
          </a>
        {% endfor %}

      {% endfor %}
    </div>
  </div>

  <nav class="navbar">
    {% for section in variables.menu %}
      <a href="{{ section.url }}" class="nav-item{{ loop.index == 2 ? ' active' }}">
        {{ macros.icon(section.icon ~ '-big') }}
        {{ section.label }}
      </a>
    {% endfor %}
  </nav>

  <div class="navbar-overlay"></div>
</div>
