{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% if (variables.community and (variables.community_has_write_access or variables.community_has_dashboard_access)) or (variables.activity and variables.activity_has_write_access)  %}

<div class="floating">
  <div class="container">
    <div class="row justify-content-center">
      {# Button to add activities #}
      {% if variables.community and variables.community_has_write_access %}
        <div class="col text-center">
          <a class="btn btn-outline-danger btn-white btn-icon shadow-floating mb-3" href="{{ path('qs_activity.activities.form.add', {community: variables.community.tid.value}) }}">
            {{ macros.icon('plus') }}
            {% trans %}qs_activity.floating.add.activity{% endtrans %}
          </a>
        </div>
      {% endif %}

      {# Button to access activities dashboard #}
      {% if variables.activity and variables.activity_has_write_access %}
        <div class="col text-center">
          <a class="btn btn-outline-danger btn-white btn-icon shadow-floating mb-3" href="{{ path('qs_activity.activities.dashboard', {community: variables.community.tid.value, activity: variables.activity.nid.value}) }}">
            {{ macros.icon('activities') }}
            {% trans %}qs_activity.floating.dashboard.activity{% endtrans %}
          </a>
        </div>
      {% endif %}

      {# Button to access communities dashboard #}
      {% if variables.community and variables.community_has_dashboard_access %}
        <div class="col text-center">
          <a class="btn btn-outline-danger btn-white btn-icon shadow-floating mb-3" href="{{ path('qs_community.dashboard', {community: variables.community.tid.value}) }}">
                {{ macros.icon('communities') }}
                {% trans %}qs_activity.floating.dashboard.community{% endtrans %}
              </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endif %}

