{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set subscriptions = variables.badges.subscriptions %}
{% set privileges = variables.privileges %}

{% set activity_maintainer = 'activity_maintainers' in privileges %}
{% set activity_member = 'activity_members' in privileges %}
{% set activity_organizer = 'activity_organizers' in privileges %}
{% set has_activity_privilege = activity_member or activity_maintainer or activity_organizer %}
{% set can_manage_activity = activity_maintainer or activity_organizer %}

{% set community_can_subscribe = variables.activity.field_community_can_subscribe.value %}
{% set community_can_view_detail = variables.activity.field_community_access_detail.value %}
{% set community_can_view_contact = variables.activity.field_community_access_contact.value %}
{% set community_can_view_photos = variables.activity.field_community_access_gallery.value %}

{% set activity_member = 'activity_members' in privileges %}
{% set activity_organizer = 'activity_organizers' in privileges %}
{% set can_manage_activity = activity_maintainer or activity_organizer %}

{% if variables.activity.field_description.value %}
  <div class="mb-5 text-center rich-content rich-content-primary">
    {% set body = {
      '#type':   'processed_text',
      '#text':    variables.activity.field_description.body.value,
      '#format':  variables.activity.field_description.body.format,
    } %}
    {{ body }}
  </div>
{% endif %}

{# Toggler button to view future or past events. #}
<div class="btn-group-toggle-display mb-4">
  <div class="btn-group btn-group-toggle mb-4" role="group" aria-label="{{ 'qs.a11y.activity.toggler.view_past_future_events'|t }}">

    {% if variables.view == 'past' %}
      <button href="#" class="btn btn-primary btn-icon">
        {{ macros.icon('counter-clockwise') }}
        <span>{{ 'qs.activity.toggler.view_past_events'|t }}</span>
      </button>
      <a href="{{ path('<current>') }}" class="btn btn-outline-primary btn-icon btn-icon-right">
        {{ macros.icon('clockwise') }}
        <span class="sr-only">{{ 'qs.activity.toggler.view_future_events'|t }}</span>
      </a>
    {% else %}
      <a href="{{ path('<current>', {'view': 'past'}) }}" class="btn btn-outline-primary btn-icon">
        {{ macros.icon('counter-clockwise') }}
        <span class="sr-only">{{ 'qs.activity.toggler.view_past_events'|t }}</span>
      </a>
      <button class="btn btn-primary btn-icon btn-icon-right">
        {{ macros.icon('clockwise') }}
        <span>{{ 'qs.activity.toggler.view_future_events'|t }}</span>
      </button>
    {% endif %}
  </div>
</div>

{% if variables.events %}
  {% embed '@quartiers_solidaires/node/partials/card-list.html.twig' with {card_list_id: 'events-accordion'} %}
    {% block card_list_items %}
      {% for key, event in variables.events %}

        {% set contact_name = event.field_contact_name.value %}
        {% set contact_phone = event.field_contact_phone.value %}
        {% set contact_mail = event.field_contact_mail.value %}

        {% set user_subscription_confirmed = key in subscriptions.confirmed|keys %}
        {% set user_subscription_pending = key in subscriptions.pendings|keys %}
        {% set guest_subscription_pending = key in subscriptions.pendings_guests|keys %}
        {% set guest_subscription_confirmed = key in subscriptions.confirmed_guests|keys %}

        {% set status = 'default' %}
        {% if user_subscription_pending %}
          {% set status = 'pending' %}
        {% elseif user_subscription_confirmed %}
          {% set status = 'confirmed' %}
        {% endif %}

        {# If user is (activity_maintainers and confirmed) or activity_organizers of this activity #}
        {# show him guests badges, otherwise show him badges based on his own subscription #}
        {% set guests = 0 %}
        {% if can_manage_activity or user.hasPermission('administer nodes') %}
          {% set guests_status = false %}
          {% if guest_subscription_pending %}
            {% set guests_status = 'pendings_guests' %}
            {% set guests = subscriptions.pendings_guests[key] %}
          {% elseif guest_subscription_confirmed and not user_subscription_pending and not user_subscription_confirmed %}
            {% set guests_status = 'confirmed_guests' %}
            {% set guests = subscriptions.confirmed_guests[key] %}
          {% endif %}
        {% endif %}

        {% include "@quartiers_solidaires/node/card-list-item.html.twig" %}
      {% endfor %}
    {% endblock %}
  {% endembed %}

  {{ variables.pager }}
{% else %}

  <h2 class="h4 mb-4 text-center">
    {# Display the contact message only if the user has any privilege
    or is allowed to access from field_community_access_contact #}
    {% if
      variables.activity.field_contact_mail.value is not empty
      and (community_can_view_contact or variables.privileges is not empty)
    %}
      {{ 'qs.activity.no_events_please_contact @mail_link'|t({
        '@mail_link': link( variables.activity.field_contact_name.value, 'mailto:' ~ variables.activity.field_contact_mail.value )|render
      }) }}
    {% else %}
      {{ 'qs.activity.no_events'|t }}
    {% endif %}
  </h2>
{% endif %}
