{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set display_contact = event.field_contact_mail.value is not empty or event.field_contact_phone.value is not empty or event.field_contact_name.value is not empty %}

{% set contribution = event.field_contribution.value %}
{% set is_past = event.field_end_at.date|date('Y-m-d') < 'now'|date('Y-m-d') %}

<div class="card-body pb-0 text-center">

  <h4 class="h5 card-title mb-1 mt-0">
    {% if is_past %}<span class="text-danger">{{ 'qs.event.past_label'|t }}</span>{% endif %}
    {{ event.label }}
  </h4>

  {# Event hours display on mobile only #}
  <p class="d-md-none mb-0">
    <time datetime="{{ event.field_start_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}">
      {# Special use-case for German, we strip the "Uhr" of the start date #}
      {% set start_date = event.field_start_at.date|bamboo_i18n_format_date('default_short_hours_minutes') %}
      {{ bamboo_i18n_current_lang() == 'de' ? start_date|replace({'Uhr': ''}) : start_date }}
    </time>
    –
    <time datetime="{{ event.field_end_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}">
      {{ event.field_end_at.date|bamboo_i18n_format_date('default_short_hours_minutes') }}
    </time>
  </p>

  <div class="card-text rich-content rich-content-primary mt-3">
    {# Body #}
    {# User should have some privileges OR activity should allow community to access details #}
    {% if has_activity_privilege or community_can_view_detail %}
      {{ bamboo_render_field('body', 'node', event.nid.value) }}
    {% else %}
      <p>{{ 'qs.event.not_accessible'|t }}</p>
    {% endif %}

    {# Contribution #}
    {# Event should not be in the past and user should be member of the activity OR activity should allow subscription to community members #}
    {% if not is_past and (has_activity_privilege or community_can_subscribe) and contribution %}
      {% include '@quartiers_solidaires/node/partials/card-body-contribution.html.twig' %}
    {% endif %}
  </div>

  <div class="card-actions row">
    {# Register button #}
    {# Event should not be in the past and user should be member of the activity OR activity should allow subscription to community members #}
    {% if not is_past and (has_activity_privilege or community_can_subscribe) %}
      {% include '@quartiers_solidaires/node/partials/card-body-register.html.twig' %}
    {% endif %}

     {# View pictures button #}
    {# Event should be in the past and user should be member of the activity OR activity should allow community members to view photos #}
    {% if is_past and (has_activity_privilege or community_can_view_photos) %}
      {{ macros.card_button(
        'qs.event.view.photos'|t,
        path('qs_photo.activity', {activity: variables.activity.nid.value}, {'fragment': 'event' ~ event.nid.value }),
        'picture',
        'left',
        ''
      ) }}
    {% endif %}

    {# Contact button #}
    {# User should be member of the activity OR activity should allow access to community members #}
    {% if display_contact and (has_activity_privilege or community_can_view_contact) %}
      {{ macros.card_button(
        'qs.event.contact'|t,
        '#contact-' ~ event.nid.value,
        'user',
        'left',
        'data-toggle=flip'
      ) }}
    {% endif %}

    {# Location button #}
    {# Event should not be in the past and user should have some privileges OR activity should allow community to access details #}
    {% if not is_past and event.field_venue.value and (has_activity_privilege or community_can_view_detail) %}
      {{ macros.card_button(
        'qs.event.location'|t,
        '#map-' ~ event.nid.value,
        'meeting',
        null,
        'data-toggle=flip'
      ) }}
    {% endif %}

    {# Calendar #}
    {{ macros.card_button(
      'qs.event.calendar'|t,
      path('qs_calendar.collection.weekly', {
        community: variables.activity.field_community.entity.tid.value,
        'day': event.field_start_at.date|date('Y-m-d')
      }, { 'fragment': 'card' ~ event.nid.value }),
      'calendar',
      'left'
    ) }}

    {% set params = {event: event.nid.value} %}

    {# Edit button #}
    {# User should be organizer OR maintainer of the activity OR admin #}
    {% if can_manage_activity or user.hasPermission('administer nodes') %}
      {# Get user Highest privilege #}
      {% set privilege = variables.badges.privileges[variables.activity.nid.value]|last %}

      {{ macros.card_button(
        'qs.event.dashboard'|t,
        path('qs_activity.events.dashboard', params),
        'checklist',
        'right'
      ) }}

      {% set theme = 'secondary' %}
      {% if privilege == 'activity_maintainers' %}
        {% set theme = 'warning' %}
      {% elseif privilege == 'activity_organizers' %}
        {% set theme = 'danger' %}
      {% endif %}

      {# Event should not be in the past to show the guest subscriptions  #}
      {% if not is_past %}
        {% if guest_subscription_pending %}
          {% set guests_btn = variables.badges.subscriptions.pendings_guests[event.nid.value] %}

          {{ macros.card_button(
            'qs.event.dashboard.shortcut.waiting_approval @guests'|t({'@guests': guests_btn}),
            path('qs_subscription.waiting_approval', params),
            'wait',
            'left',
            'data-status-guest-show="pendings_guests"',
            theme
          ) }}
        {% elseif guest_subscription_confirmed %}
          {% set guests_btn = variables.badges.subscriptions.confirmed_guests[event.nid.value] %}

          {{ macros.card_button(
            'qs.event.dashboard.shortcut.confirmed @guests'|t({'@guests': guests_btn}),
            path('qs_subscription.subscribers', params),
            'checklist',
            'left',
            'data-status-guest-show="confirmed_guests"',
            theme
          ) }}
        {% endif %}
      {% endif %}

    {% endif %}

  </div>

</div>
