{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<a
  data-toggle="collapse"
  href="#collapse-{{ key }}"
  class="card-pill {{ not is_open ? "collapsed" }}"
  role="tab"
  aria-expanded="{{ is_open ? "true" : "false" }}"
  aria-controls="collapse-{{ key }}"
  id="event{{ event.nid.value }}"
>

  <span class="card-pill-icon">
    {{ macros.icon('theme_' ~ event.field_activity.entity.field_theme.entity.field_icon.value) }}
  </span>

  <span class="card-pill-title">
    <span class="size-date">
      <time datetime="{{ event.field_start_at.date|bamboo_i18n_format_date('custom', 'Y-m-d') }}">
        {{ event.field_start_at.date|bamboo_i18n_format_date('custom', 'j F Y') }}
      </time>
    </span>
    <span class="d-none d-sm-inline">
      <time datetime="{{ event.field_start_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}">
        {{ event.field_start_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}
      </time>
      – <time datetime="{{ event.field_end_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}">
        {{ event.field_end_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}
      </time>
    </span>
  </span>

  {% block card_pill_badges %}
    {% include '@quartiers_solidaires/node/partials/card-pill-badges.html.twig' with {'privileges': variables.badges.privileges} %}
  {% endblock %}

  <span
    class="btn btn-outline-secondary btn-icon btn-icon-to-circle shadow-to-left btn-white ml-auto"
    aria-label="{{ 'qs.readmore.about'|t }} {{ event.label }}"
  >
    {{ macros.icon('look') }}
    <span class="d-none d-md-inline">{{ 'qs.event.readmore'|t }}<span class="sr-only">{{ 'qs.event.readmore.about'|t }} {{ event.label }}</span></span>
  </span>

</a>
