{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set display_contact = event.field_contact_mail.value is not empty or event.field_contact_phone.value is not empty or event.field_contact_name.value is not empty %}

{% set contribution = event.field_contribution.value %}

<div class="card-body pb-0 text-center">

  <h4 class="card-title">{{ event.label }}</h4>

  <div class="card-text">
    {# Body #}
    {# User should have some privileges OR activity should allow community to access details #}
    {% if has_activity_privilege or community_can_view_detail %}
      {{ event.body.value|raw }}
    {% else %}
      <p>{{ 'qs.event.not_accessible'|t }}</p>
    {% endif %}

    {# Contribution #}
    {# User should be member of the activity OR activity should allow subscription to community members #}
    {% if (has_activity_privilege or community_can_subscribe) and contribution %}
      {% include '@quartiers_solidaires/node/partials/card-body-contribution.html.twig' %}
    {% endif %}
  </div>

  <div class="card-actions row">
    {# Register button #}
    {# User should be member of the activity OR activity should allow subscription to community members #}
    {% if has_activity_privilege or community_can_subscribe %}
      {% include '@quartiers_solidaires/node/partials/card-body-register.html.twig' %}
    {% endif %}

    {# Contact button #}
    {# User should be member of the activity OR activity should allow access to community members #}
    {% if display_contact and (has_activity_privilege or community_can_view_contact) %}
      {{ macros.card_button(
        'qs.event.contact'|t,
        '#contact-' ~ event.nid.value,
        'user',
        'left',
        'data-toggle=flip'
      ) }}
    {% endif %}

    {# Location button #}
    {# User should have some privileges OR activity should allow community to access details #}
    {% if event.field_venue.value and (has_activity_privilege or community_can_view_detail) %}
      {{ macros.card_button(
        'qs.event.location'|t,
        '#map-' ~ event.nid.value,
        'meeting',
        null,
        'data-toggle=flip'
      ) }}
    {% endif %}

    {# Calendar #}
    {{ macros.card_button(
      'qs.event.calendar'|t,
      path('qs_calendar.collection.weekly', {
        community: variables.activity.field_community.entity.tid.value,
        'day': event.field_start_at.date|date('Y-m-d')
      }, { 'fragment': 'card' ~ event.nid.value }),
      'calendar',
      'left'
    ) }}

    {% set params = {event: event.nid.value} %}

    {# Edit button #}
    {# User should be organizer OR maintainer of the activity OR admin #}
    {% if can_manage_activity or user.hasPermission('administer nodes') %}
      {# Get user Highest privilege #}
      {% set privilege = variables.badges.privileges[variables.activity.nid.value]|last %}

      {{ macros.card_button(
        'qs.event.dashboard'|t,
        path('qs_activity.events.dashboard', params),
        'checklist',
        'right'
      ) }}

      {% set theme = 'secondary' %}
      {% if privilege == 'activity_maintainers' %}
        {% set theme = 'warning' %}
      {% elseif privilege == 'activity_organizers' %}
        {% set theme = 'danger' %}
      {% endif %}

      {% if guest_subscription_pending %}
        {% set guests_btn = variables.badges.subscriptions.pendings_guests[event.nid.value] %}

        {{ macros.card_button(
          'qs.event.dashboard.shortcut.waiting_approval @guests'|t({'@guests': guests_btn}),
          path('qs_subscription.waiting_approval', params),
          'wait',
          'left',
          'data-status-guest-show="pendings_guests"',
          theme
        ) }}
      {% elseif guest_subscription_confirmed %}
        {% set guests_btn = variables.badges.subscriptions.confirmed_guests[event.nid.value] %}

        {{ macros.card_button(
          'qs.event.dashboard.shortcut.confirmed @guests'|t({'@guests': guests_btn}),
          path('qs_subscription.subscribers', params),
          'checklist',
          'left',
          'data-status-guest-show="confirmed_guests"',
          theme
        ) }}
      {% endif %}

    {% endif %}

  </div>

</div>
