{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="card-body pb-0 text-center">

  <h4 class="card-title">{{ event.label }}</h4>

  <div class="card-text">
    {{ event.body.value|raw }}
  </div>

  <div class="card-actions row">
    {# Register button #}
    {# User should be member of the activity OR activity should allow subscription to community members #}
    {% if 'activity_members' in variables.privileges or variables.activity.field_community_can_subscribe.value %}
    <div class="col-sm-6 mb-3">
      <button class="btn btn-outline-secondary btn-icon btn-white shadow-to-right btn-block">
        {{ macros.icon('register') }}
        {{ 'qs.event.register'|t }}
      </button>
    </div>
    {% endif %}

    {# Contact button #}
    {# User should be member of the activity OR activity should allow access to community members #}
    {% if 'activity_members' in variables.privileges or variables.activity.field_community_access_contact.value %}
    <div class="col-sm-6 mb-3">
      <a href="#contact-{{ event.nid.value }}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-left btn-block" data-toggle="flip">
        {{ macros.icon('user') }}
        {{ 'qs.event.contact'|t }}
      </a>
    </div>
    {% endif %}

    {# Location button #}
    <div class="col-sm-6 mb-3">
      {% if event.field_venue.value and event.field_venue_lat.value and event.field_venue_long.value %}
      <a href="#map-{{ event.nid.value }}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-right btn-block" data-toggle="flip">
        {{ macros.icon('meeting') }}
        {{ 'qs.event.location'|t }}
      </a>
      {% endif %}
    </div>

    {# Contribution #}
    {# User should be member of the activity OR activity should allow subscription to community members #}
    {% if 'activity_members' in variables.privileges or variables.activity.field_community_can_subscribe.value %}
    <div class="col-sm-6 mb-3">
      <span class="badge badge-pill badge-icon badge-white d-block">
        {{ macros.icon('money') }}
        {{ 'qs.event.contribution'|t }} {{ event.field_contribution.value }}
      </span>
    </div>
    {% endif %}

    {# Edit button #}
    {# User should be organizer OR maintainer of the activity #}
    {% if 'activity_organizers' in variables.privileges or 'activity_maintainers' in variables.privileges %}
    <div class="col-sm-6 mb-3">
      <a href="{{ path('qs_activity.events.dashboard', {event: event.nid.value}) }}" class="btn btn-outline-primary btn-icon btn-white shadow-to-right btn-block" data-toggle="flip">
        {{ macros.icon('meeting') }}
        {{ 'qs.event.edit'|t }}
      </a>
    </div>
    {% endif %}

  </div>

</div>
