{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="card-body pb-0 text-center mx-auto">

  <h4 class="text-size-base font-weight-bold card-title mb-3 mt-0">
    {{ request.uid.entity.field_firstname.value }} {{ request.uid.entity.field_lastname.value }}
  </h4>

  <div class="card-text rich-content rich-content-primary mb-3">
    {% set body = {
      '#type':   'processed_text',
      '#text':    request.body.value,
      '#format':  request.body.format,
    } %}
    {{ body }}
  </div>

  <div class="card-actions row">
    {% if contact_phone %}
      {{ macros.card_button(
        contact_phone,
        "tel:#{contact_phone}",
        'phone',
        'left',
        '',
        'invert'
      ) }}
    {% endif %}

    {% if contact_mail %}
      {{ macros.card_button(
        contact_mail,
        "mailto:#{contact_mail}",
        'mail',
        'left',
        '',
        'invert'
      ) }}
    {% endif %}

    {# Solve button #}
    {% if not is_solved %}
      {{ bamboo_render_form('qs_sharing', 'RequestSolveForm', {'request': request}) }}
    {% endif %}

  </div>

</div>
