{% import "@quartiers_solidaires/macros.html.twig" as macros %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  {{ 'qs.themes.filter_btn'|t }}
</button>
<div class="modal fade" id="exampleModalLong">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-primary">
      <div class="modal-header justify-content-center">
        <h4 class="modal-title text-center">{{ 'qs.themes.filter_title'|t }}</h4>
      </div>
      <div class="modal-body text-center" data-toggle="buttons">
        <label class="btn checkbox" id="js-all-themes">
          {{ macros.icon('theme_cuisine_o') }}
          <input type="checkbox" name="allthemes" value="all">
          {{ 'qs.themes.filter_all'|t }}
        </label>
      </div>
      {{ bamboo_render_form('qs_themes', 'FilterForm') }}
    </div>
  </div>
</div>
