{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<button type="button" class="btn btn-outline-primary btn-icon shadow-to-left btn-icon-to-circle" data-toggle="modal" data-target="#themesModal">
  {{ macros.icon('themes') }}
  <span class="d-none d-sm-inline">{{ 'qs.themes.filter_btn'|t }}</span>
</button>

<div class="modal fade modal-real" id="themesModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-primary">
      <div class="modal-scroller d-flex flex-column flex-grow">
        <div class="container d-flex flex-column flex-grow">
          <div class="modal-header justify-content-center">
            <h4 class="modal-title mx-auto mt-3 text-center">{{ 'qs.themes.filter_title'|t }}</h4>
          </div>
          <div class="modal-body p-0">
            <div class="text-sm-center" data-toggle="buttons">
              <label class="btn checkbox {% if variables.filtered is empty %}active{% endif %}" id="js-all-themes">
                {{ macros.icon('theme_all_o') }}
                <input type="radio" name="allthemes" value="all" {% if variables.filtered is empty %}checked="checked"{% endif %}>
                {{ 'qs.themes.filter_all'|t }}
              </label>
            </div>
            {{ bamboo_render_form('qs_themes', 'FilterForm') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
