{% extends "@quartiers_solidaires/wrapper/modal.html.twig" %}
{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set modal_title = 'qs_subscription.subscribers.title @variables.event.title.value @variables.activity.title.value'|t({
  '@variables.event.title.value': variables.event.title.value,
  '@variables.activity.title.value': variables.activity.title.value,
}) %}
{% set modal_subtitle = variables.event.name.value %}
{% set modal_bg = 'secondary' %}
{% set floating_buttons = [
  {
    label: 'qs_subscription.floating.subscribers'|t,
    icon: 'register',
    active: true,
  }
] %}

{% block modal_content %}

  {% if variables.subscriptions %}
    <ul class="card-list" id="users-accordion" role="tablist" data-children=".card-list-item">
      {% for subscription in variables.subscriptions %}
        <li class="card card-list-item" id="card-{{ loop.index0 }}">
          {% set user = subscription.user.entity %}
          <a
            data-toggle="collapse"
            data-parent="#users-accordion"
            href="#collapse-{{ loop.index0 }}"
            class="card-pill collapsed"
            role="tab"
            aria-expanded="false"
            aria-controls="collapse-{{ loop.index0 }}"
          >
            <span class="card-pill-icon">
                {{ macros.icon('user') }}
              </span>
            <span class="card-pill-title">
                {{ user.field_firstname.value }} {{ user.field_lastname.value }}
            </span>
            <span class="btn btn-outline-secondary btn-icon btn-icon-to-circle shadow-to-left btn-white ml-auto" aria-label="{{ 'qs.user.more'|t }}">
              {{ macros.icon('look') }}
              <span class="d-none d-sm-inline">{{ 'qs.user.more'|t }}</span>
            </span>
          </a>

          <div class="collapse" id="collapse-{{ loop.index0 }}" role="tabpanel">
            <div class="card-body pb-0 text-center">

              <h4 class="card-title mb-0">{{ user.field_firstname.value }} {{ user.field_lastname.value }}</h4>
              <h5 class="card-title mt-1">{{ user.mail.value }}</h5>

              <div class="card-actions row">
                <div class="col-sm-6 offset-sm-3 mb-3">
                  <form action="{{ path('qs_subscription.decline', {subscription: subscription.id.value}) }}" data-ajax="true" data-behavior="fadeout-parent" data-parent="card-{{ loop.index0 }}" method="post" id="qs-subscription-decline-{{ subscription.id.value }}">
                    <button class="btn btn-outline-danger btn-icon btn-white shadow-to-left btn-block" data-confirm="{{ 'qs_subscription.subscribers.reject_confirm'|t }}" type="submit" value="{{ 'qs.reject'|t }}">
                      {{ macros.icon('trash') }}
                      {{ 'qs_subscription.subscribers.reject'|t }}
                    </button>
                  </form>
                </div>
              </div>

              <div class="card-actions d-flex justify-content-center mt-4 mb-3">
                <a href="mailto:{{ user.mail.value }}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-bottom mx-2">
                  {{ macros.icon('mail') }}
                  {{ user.mail.value }}
                </a>
                {% if user.field_phone.value %}
                  <a href="tel:{{ user.field_phone.value|replace({' ': ''}) }}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-bottom mx-2">
                    {{ macros.icon('phone') }}
                    {{ user.field_phone.value }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ 'qs_subscription.subscribers.empty'|t }}</p>
  {% endif %}

  {{ variables.pager }}

{% endblock %}

{% block modal_footer %}
 HEAD
  {% set modal_footer_button_classes = 'btn-outline-secondary btn-outline-invert' %}
  {# Go to Waiting Approval #}
  {% set modal_footer_buttons = [
    {
      label: 'qs.event.subscriptions.waiting_approval'|t,
      icon: 'wait',
      url: path('qs_subscription.waiting_approval', {event: variables.event.nid.value}),
      classes: modal_footer_button_classes,
    },
  ] %}

  {# Contact all members #}
  {% if variables.mailto %}
    {% set modal_footer_buttons = modal_footer_buttons|merge([
      {
        label: 'qs.contact_all'|t,
        icon: 'mail',
        url: 'mailto:?bcc=' ~ variables.mailto|join(','),
        classes: modal_footer_button_classes,
      },
    ]) %}
  {% endif %}

  {# Download #}
  {% if variables.subscriptions %}
    {% set modal_footer_buttons = modal_footer_buttons|merge([
      {
        label: 'qs_subscription.subscribers.export.download'|t,
        icon: 'download',
        url: path('qs_subscription.subscribers.export', {event: variables.event.nid.value}),
        classes: modal_footer_button_classes,
      },
    ]) %}
  {% endif %}

  {{ macros.modal_footer_buttons(modal_footer_buttons) }}
{% endblock %}


