{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set is_today = variables.current_day|date('Y-m-d') == 'now'|date('Y-m-d') %}
{% set is_tomorrow = variables.current_day|date('Y-m-d') == 'tomorrow'|date('Y-m-d') %}

<div class="container my-5">
  <ul class="card-list" id="events-accordion" role="tablist" data-children=".card-list-item">
    <li class="sticky-top bg-white mb-2 py-2 row">
      <h2 class="col-12 h5 mb-0">
        {{ variables.current_day|bamboo_i18n_format_date('default_medium_date_only') }}

        {% if is_today %}
          <small>({{ 'qs.calendar.today'|t }})</small>
        {% endif %}
        {% if is_tomorrow %}
          <small>({{ 'qs.calendar.tomorrow'|t }})</small>
        {% endif %}
      </h2>
    </li>
    {% for key, event in variables.events %}
      <li class="card card-list-item" id="card{{ event.nid.value }}">
        {% embed "@quartiers_solidaires/node/partials/card-pill-simple.html.twig" %}
          {% block card_pill_date %}{% endblock %}

          {% block card_pill_time %}
          <time datetime="{{ event.field_start_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}">
            {# Special use-case for German, we strip the "Uhr" of the start date #}
            {% set start_date = event.field_start_at.date|bamboo_i18n_format_date('default_short_hours_minutes') %}
            {{ bamboo_i18n_current_lang() == 'de' ? start_date|replace({'Uhr': ''}) : start_date }}
          </time>
          –
          <time datetime="{{ event.field_end_at.date|bamboo_i18n_format_date('custom', 'H\\hi') }}">
            {{ event.field_end_at.date|bamboo_i18n_format_date('default_short_hours_minutes') }}
          </time>
          {% endblock %}
        {% endembed %}

        <div class="collapse" id="collapse-{{ event.nid.value }}" role="tabpanel" data-parent="#events-accordion">
          <div class="card-body">
            <div class="card-text text-center">
              <h4 class="card-title mb-2">{{ event.title.value }}</h4>
              {# Subscription Textual Badges #}
              {% include '@quartiers_solidaires/qs_badge/partials/qs--badge--subscription-textual.html.twig' with {'event': event, 'badges': variables.badges} %}
            </div>
            <div class="card-actions d-flex justify-content-center">
              <a href="{{ path('entity.node.canonical', {'node': event.field_activity.entity.nid.value}, {'fragment': 'card' ~ event.nid.value })}}" class="btn btn-outline-secondary btn-icon btn-white shadow-to-right">
                {{ macros.icon('activities') }}
                {{ 'qs.event.goto'|t }}
              </a>
            </div>
          </div>
        </div>
      </li>
    {% else %}
      <li>{{ 'qs.calendar.events.collection_empty'|t }}</li>
    {% endfor %}
  </ul>
</div>
